[2016-08-24 17:03] sonal-keshav opened #1 "[Request] Move windows to specific virtual desktop with shortcut"
Move current active window to a specific virtual desktop via a key shortcut (shift + alt + [num]) for example.

[2016-08-24 17:44] sdias commented on #1
This should be possible with the library I'm using. The issue is that I'm working with two different versions of that library, and they have different features between them (moving windows between desktops is only available in the newer version).

I'm working with these two versions because the one that actually works for your system depends on the version of the VS 2015 C++ runtime you have insta

[2016-08-24 17:54] sonal-keshav commented on #1
I can help in testing with the newer version of the library.

I'm assuming that [this](https://www.microsoft.com/en-us/download/details.aspx?id=48145) is the newer version of the library?

I can also provide access to a Windows VM hosted on Azure if that makes things easy.

[2016-08-25 07:22] alleve opened #2 "Unchanged Desktop Backgrounds"
Hi,

I downloaded and installed Visual C++ Redistributable for Visual Studio 2015.

I edited the settings, saved, then ran the .exe file; however, my desktop backgrounds remained unchanged. Below is a url of what I have entered in the settings file.

Can you help me troubleshoot the issue? I attached my edited "settings" file.

![image](https://cloud.githubusercontent.com/assets/21236326/17960269/

[2016-08-25 11:20] sdias commented on #1
Thanks, but I'd rather try to get it to work on my personal system first. This is such a small project that I don't think it warrants the usage of other resources like your VM and your time. :) Thanks for the offer though.

[2016-08-25 11:27] sdias commented on #2
Hi. Found the error, thanks for the report. Version Beta 0.6.2 will have the fix.

[2016-08-25 11:27] #2 closed

[2016-08-26 00:03] sdias commented on #1
Just wanted to let you know the [Beta 0.7](https://github.com/sdias/win-10-virtual-desktop-enhancer/releases/tag/0.7) adds this feature, enjoy. :)

[2016-08-26 00:04] #1 closed

[2016-08-26 00:15] sonal-keshav commented on #1
Just tried it and it works great.

Just a quick nitpick: if no virtual desktops exist, and you use a shortcut (go to desktop 2, or move window to desktop 2), it does not create a desktop first.

Would it be technically possible to do that?

[2016-08-26 00:29] sdias commented on #1
That's a good question. It might be possible, yeah. [There is another tool that has that feature](https://github.com/Eun/MoveToDesktop), but it hooks directly into the windows API, while I don't, since I just use [Ciantic's library](https://github.com/Ciantic/VirtualDesktopAccessor). If Ciantic's library supports it, I might be able to, but I can't say for sure right know.

[2016-09-17 15:23] taxico opened #3 "0.8 won't work unless patch applied + #maxhotkeysperinterval"
i started using this from 0.3

i tried using every version after that except 0.7 - none of them works unless i apply the patch.

perhaps it would be easier to just include the patched dll?

thank you very much for your effort in updating the app.

[2016-09-17 17:44] sdias commented on #3
Hi. It basically boils down to the version of Windows you are using.

The app initially supported Windows both with and without the anniversary update, but for recent versions, only Windows with the anniversary update is supported. This is because some of the new features are only possible with the upgrade.

The old patches basically replaced the component that interacts with Windows with a versio

[2016-09-18 13:20] taxico commented on #3
that might be the problem...

i expected windows to have forced the update on me, but as i have no way to
check (i don't know how to, even after googling) i assume it's not been
released to my territory yet, or i've got to download it manually.

in any case, thank you for your response, Sergio!

On Sun, Sep 18, 2016 at 12:44 AM, Sergio Dias <notifications@github.com>
wrote:

[2016-09-18 13:37] taxico commented on #3
If you're not sure about the presence of the Anniversary Update on your Windows 10 computer, you can check your Windows Update history. To do so, click Start > Update & Security > Windows Update. Click the "Advanced options" link, then click "View update history." If you see "Windows 10 Version 1607" listed there, you've got the AU installed.

source: Ask Bob Rankin

[2016-09-18 22:24] sdias commented on #3
No worries. Did you manage to get it to work? [This link should take you to a page where you can download the update, click here](https://support.microsoft.com/en-us/help/12387/windows-10-update-history).

[2016-09-19 07:54] taxico commented on #3
0.8 (and most other versions) work when i used the patched DLL. i have not installed the W10 Anniversary update yet.

i went back to 0.3 last night because... i get an alert about #maxhotkeysperinterval - this didn't happen in 0.3 and i don't have the anniv update so i decided maybe 0.3 suits my current system better.

i get that alert frequently when using 0.8 + Notepad + Skype + lots of tabs in

[2016-09-19 07:59] sdias commented on #3
Fair enough. I haven't supplied the patch with new versions since some of
the new features won't work with it.

The other error you got is unrelated, and I can probably do something about
it.

On 19 Sep 2016 08:54, "taxico" <notifications@github.com> wrote:

[2016-09-19 08:07] taxico commented on #3
thanks for your replies, Sergio!

1 final Question on 0.3 vs later versions - i've been using this to change desktops (and used to it):

LCtr-LAlt-x

(x = desktop number)

this does not appear to work by "default" in later versions. is this because of the anniv update?

[2016-09-21 18:19] sdias commented on #3
Sorry, I forgot to reply. Earlier versions had permissive hotkeys, meaning that it didn't matter what extra modifiers (ctrl, alt, shift, win) you were pressing, as long as Alt and a number was pressed, the desktop changed. In newer versions, you can configure your own hotkeys, so you can make it exactly like you just said with some minor tweaking. Please check the readme for details.

[2016-09-21 18:20] #3 closed

[2016-09-30 14:35] oddboy opened #4 "71 hotkeys have been received in the last 1172ms"
Hi,

great little app, thank you for making it, and making it available for free!

I keep getting a popup about 'x hotkeys have been received'.  I believe it has to do with scrolling as it only pops up when I'm scrolling.  I have disabled Scroll switching in the settings file, but it still happens.

is there a way to suppress that alert?  the alert asks me when I want to continue to which I hit th

[2016-10-08 05:46] as14 opened #5 "Feature Request - taskbar scrolling on multiple monitors"
After setting TaskbarScrollSwitching to 1 in settings.ini, I am able to scroll on the taskbar on my 1st monitor, but not on the taskbars on other monitors.  Would be great to be able to do that too.

[2016-10-08 05:46] as14 opened #6 "Feature Request - Tooltips on all monitors"
Would be great to be able to see tooltips on all my monitors.

[2016-10-11 12:29] samr1953 commented on #4
I'm having this problem as well. Suggestions?

[2016-10-11 12:51] oddboy commented on #4
Hi samr, I ended up installing AutoHotKey and using the ahk script file.  I set the following at the top of the 'virtual-desktop-enhancer.ahk' script:

#HotkeyInterval 20  ; This is  the default value (milliseconds).
#MaxHotkeysPerInterval 20000

since then, I have not had the popup.

cheers,

Joel

[2016-10-11 13:19] samr1953 commented on #4
Thanks! I'll give it a try.

...Sam

On Tue, Oct 11, 2016 at 7:51 AM, oddboy <notifications@github.com> wrote:

[2016-10-13 19:17] as14 commented on #4
I am having the same problem with the scroll whell (when scrolling a lot / fast, getting the popup).  It says to "see #MaxHotkeysPerInterval in the help file", but I don't see a help file anywhere, nor do I see any setting for MaxHotkeysPerInterval in settings.ini.

I tried adding the following to virtual-desktop-enhancer.ahk as @oddboy suggested, but it doesn't appear to do anything without AutoH

[2016-10-13 19:19] oddboy commented on #4
As far as I can tell, editing the ahk script has no effect on the .exe compiled version of the app.

So what I did was to install AutoHotKey, and use the .ahk script instead of the .exe.  You only need one or the other.

[2016-10-13 19:24] as14 commented on #4
@oddboy .....gotchya....thanks for the advice....and the quick reply.

I see that there are the following .ahk files in the Virtual Desktop Enhancer folder.  Are they all needed once AutoHotKey is installed?
- read-ini.ahk
- tooltip.ahk
- virtual-desktop-enhancer.ahk
- tooltip.ahk

Also, when using AutoHotKey instead of Virtual Desktop Enhancer, will I still be able to use taskbar scrolling or hav

[2016-10-13 19:40] samr1953 commented on #4
I tried this two days ago and so far it has cleared up the problem. Thanks!

On Tue, Oct 11, 2016 at 7:51 AM, oddboy <notifications@github.com> wrote:

[2016-10-13 19:58] oddboy commented on #4
As14, yes, you need them all, and yes, you will still have the scrolling and systray icon.  I think the exe just bundles the ahk script and the ahk interpreter into one exe file.

I also added a shortcut to my startup folder that shortcuts to the ahk file so it starts when I log in.

I'm a happy camper.

[2016-10-13 20:01] as14 commented on #4
oddboy.....thanks for that info and yet another quick reply.....I will install AutoHotKey and remove Virtual Desktop Enhancer, and see how that works.

[2016-10-13 21:44] sdias commented on #4
Hi guys, sorry for not replying sooner. Thanks for reporting the issue and also providing a solution, I'll push an updated version with oddboy's fix. Thanks again.

[2016-10-13 21:53] sdias commented on #6
Hi. Unfortunately I only have the one, so I can't really implement this for several monitors. Sorry about that.

[2016-10-13 21:53] sdias commented on #5
Hi. Unfortunately I only have the one, so I can't really implement this for several monitors. Sorry about that.

[2016-10-17 04:19] as14 commented on #4
I tried making the modifications to the .ahk files, and it worked perfectly.  Thanks!

[2016-10-20 00:28] as14 commented on #5
@sdias No worries.....I decided to download AHK and learn a bit about it.  It is REALLY powerful!  Glad I did that.

Looks like the problem was in the IsCursorHoveringTaskbar() method of virtual-desktop-enhancer.ahk.  That method used
`WinGet, taskbarID, ID, ahk_class Shell_TrayWnd`
to check if the cursor was on top of the taskbar.  Problem was that ahk_class Shell_TrayWnd only applies to the task

[2016-10-20 00:31] as14 commented on #6
@sdias I figured out how to do this, but went a bit overboard on my solution (tooltips on upto 10 monitors, ability to toggle the tips on/off for each individual monitor, ability to add the workspace number to the tooltip, ability to add time / date / day of week to the tool tip, custom fonts and font sizes for the various text, etc.), and it is thus quite long / complex.....probably not worth pos

[2016-10-28 08:55] dharmaturtle commented on #6
@as14 I, for one, would be interested! You should fork :)

[2016-10-28 16:22] as14 commented on #6
@dharmaturtle I have never forked anything, and not really sure about how it works.  I can post here though if it is OK with @sdias

[2016-10-28 19:28] sdias commented on #5
Thanks for the solution, great to see you're enjoying AHK.

[2016-10-28 19:28] #5 closed

[2016-10-28 19:28] sdias commented on #6
@as14 That sounds amazing, any chance you could share it?

[2016-10-30 16:37] #4 closed

[2016-10-30 16:59] tomiu opened #7 "Can't get the shortcuts, to move to specific desktop, to work"
Hi.

Currently I use this script:
[https://github.com/pmb6tz/windows-desktop-switcher](url)

But wanted to try yours. But it does not want to switch to desktop by pressing e.g.:ALT+2

I am using Windows 10 PRO build 1607

[2016-10-30 20:53] sdias commented on #7
Hi. It should do that with the default configuration. Do you have at least two virtual desktops (since ALT+2 switches to Desktop 2)?

[2016-10-30 21:30] tomiu commented on #7
I have 3 desktops

Sent from Nexus 6P

On 30 Oct 2016 21:53, "Sergio Dias" <notifications@github.com> wrote:

[2016-11-21 08:40] Retiixx opened #8 "Independent Virtual Desktops"
Hi, thanks for this enhancer, just wondering if a feature is possible to implement.
I have a multi-monitor setup, is there a way to manage virtual desktop independently, so I can let "Desktop 1" on one monitor and switch between VD on the other monitors ?

Thanks

[2016-11-21 13:09] sdias commented on #8
Hi, thanks for using it.

That isn't really possible. A virtual desktop includes all of the monitors,
so if you switch desktops, you switch the view for every monitor. That's
how most virtual desktop systems are implemented.

One thing that could be useful for you is to display a window across all of
your virtual desktops, which unfortunately is not possible using Windows
virtual desktops, as far

[2016-11-21 18:28] Starofall opened #9 "Feature Request - Run command on change"
It would be nice to run a specific file on enter and leaving a desktop.

[RunFileOnEnter]
1=C:\Programs\....\foo.bat

[RunFileOnLeave]
1=C:\Programs\....\foo.bat

[2016-12-10 23:41] petrklus opened #10 "Request: support more than 10 virtual desktops"
Hello!

Would really like to use more than 10 desktops - could the support be enhanced to 20 desktops for example?

My suggestion is to use alternative modifier/modifier combination to access any desktop beyond 10th one

[2016-12-11 16:48] erajsalman opened #11 "interference with desktop switching on task view"
When I am in taskview I will regularly hover my mouse over other desktops or switch between them using a mouse gesture to see where other windows are. With the script activated, this is not possible.

If I switch to another desktop while in task view, it will switch, but then pull out of task view. The normal function with the script off is to switch but stay in task view, so it's easier to look a

[2016-12-11 19:19] sdias commented on #11
It was a bug. Thanks for reporting it. The fix will go into the next release. :)

[2016-12-11 19:35] sdias commented on #10
Just made it so you can set an additional modifier to do what you said, it will go into the next release. :)

[2016-12-11 19:37] sdias commented on #9
I'm not sure how useful this would be... Can you give an example?

[2016-12-11 19:58] erajsalman commented on #11
awesome. thank you for the great work!

[2016-12-11 20:03] sdias commented on #11
No worries. Here it is: https://github.com/sdias/win-10-virtual-desktop-enhancer/releases/tag/0.9.0
Let me know if it works for you!

[2016-12-11 20:03] sdias commented on #10
Here it is: https://github.com/sdias/win-10-virtual-desktop-enhancer/releases/tag/0.9.0
Let me know if it works for you!

[2016-12-11 20:18] erajsalman commented on #11
Working great! thanks!

[2016-12-13 19:04] vandasian commented on #8
With 1607 you can right-click on a window in Task View and select Show this window on all desktops

[2016-12-14 09:53] Retiixx commented on #8
Thanks @vandasian for the tip. It's working great ! Exactly what I wanted !

[2016-12-14 09:53] #8 closed

[2016-12-15 21:29] #10 closed

[2016-12-15 21:29] #11 closed

[2016-12-18 14:24] Starofall commented on #9
Sure.
I use this tool to seperate different "working environments".

Ideas:
- If I am working on two projects, I might want to run start docker containers once I entered a desktop and stop them when I am leaving.
- Start a timer to track the amount of time I spend on this project
- Change the color of my behind-monitor-leds
- Changeing environment variables based on the desktop I work on
- Start I

[2016-12-20 16:07] merket opened #12 "Feature Request - Multimonitor Wallpaper Support"
Hello,

I just download and fiddling with your wonderful application.
I have yet to find a way to set individual wallpapers per desktop for each monitor...

Is it possible? If not I believe this feature would carry your code and app further.

Best wishes.

[2016-12-20 17:39] sdias commented on #12
Hi, thanks for the kind words, I'm glad you're enjoying it.

It is not possible at the moment, no. I will try to look into it.

On 20 Dec 2016 16:07, "merket" <notifications@github.com> wrote:

Hello,

I just download and fiddling with your wonderful application.
I have yet to find a way to set individual wallpapers per desktop for each
monitor...

Is it possible? If not I believe this feature wou

[2016-12-20 17:53] meffect commented on #12
Just found your app and I love it! I would love to have this feature too

[2016-12-22 23:52] ErichDonGubler opened #13 "Don't set default bindings for "Switch" (they're already built into Windows!)"
I suggest not setting the `Switch` shortcut by default.

As a power user of Chromium, my workflow got immediately interrupted as I found I couldn't use the `Alt + Arrow` shortcuts any more. There are other apps that can probably be listed that use `Alt + Arrow` also. which makes me think that the default isn't sensible. I see things this way: most people who are power users will find this default

[2016-12-22 23:58] ErichDonGubler commented on #13
Another example of somebody who's done something similar with a project that's very similar to this one: https://github.com/m0ngr31/VirtualDesktopManager/issues/15

[2016-12-23 08:12] meffect commented on #13
meh

[2016-12-31 09:32] meffect opened #14 "[Feature Request] AlwaysOpenAtCurrent (or something like that)"
Example:

I have 4 Virtual Desktops.
[I'm here] [Desktop 2] [Desktop 3] [Notepad++ is open here]

If I left click on the Notepad++ app shortcut pin on the taskbar when I'm on Desktop 1, by default windows takes me to Desktop 4. Well, because Notepad++ only allows one instance by default. I always want Notepadd++ to open on the current virtual desktop I'm on and not take me to the random desktop I

[2016-12-31 21:40] ErichDonGubler commented on #14
If clicking is your default...couldn't you do Shift+Click on Notepad++? I'm not on Doze right now, but I know many apps work with the "Open new instance" shortcut.

[2017-01-01 03:33] meffect commented on #14
i want it to bring the open instance (that is on a different virtual desktop) to the virtual desktop im currently on.

well.. there seem to be a lot of ideas on this subject on the windows feedback app (in the windows store). hopefully microsoft will address it some day

[2017-01-03 03:00] ErichDonGubler commented on #14
Oh...not what I understood from your description. Perhaps "MoveWindowToCurrentDesktop" would be more appropriate?

[2017-01-05 18:30] sdias commented on #13
Thanks for the input.

Keyboard shortcuts for the switch action are only partially built into Windows. You can use `Ctrl + Win + Arrow` to switch to the previous/next desktops, but that is about it. You can't go to a specific desktop using the number keys, or move windows at all between desktops. A better solution would be to change the default for that setting to be `Switch=Win, Ctrl`, which woul

[2017-01-05 18:33] sdias commented on #9
Sounds reasonable. I'll try to get this into the next release.

[2017-01-05 18:34] sdias commented on #14
This would be really useful indeed, but I don't know if it is possible. I'll look into it.

[2017-01-06 21:34] meffect opened #15 "[RDP + Key Combo] vDesktop change doesn't trigger app updates, also switch does seem to work"
Minor issue:

RDP with  "Apply windows key combinations:" => "On the remote computer" setting, Alt+Left|Right, does not change vDesktops.

RDP with  "Apply windows key combinations:" => "On the remote computer" setting, Ctrl+Win+Left|Right does change vDesktops but w10-v-d-e does not update notification area icon, or wallpaper.

RDP with  "Apply windows key combinations:" => "On the remote compute

[2017-01-07 03:14] meffect commented on #15
weird.. if I rdp into my either of my two win10 vm's, i get the behavior in my op. but if I rdp into my vpn vm, then from there rdp into my work pc, everything works; switch, notification icon, wallpaper

[2017-01-11 07:52] epikgit opened #16 "Feature request - Option to automatically create virtual desktops on application start"
Hi.
With this option I can run virtual desktop enhancer and have a custom number of desktops ready without the need to create them.

Thanks.

[2017-01-11 09:54] kodx opened #17 "Tooltip disable doesn't work"
Setting Tooltip option to disabled doesn't work.
Tried reload settings and restart application.
Used exe version from Beta 0.9.0.
Windows 10 (Build 14393.693)

[2017-01-19 13:18] matedon commented on #17
Yes. The same thing happens with me.

[2017-01-22 02:00] anxxx opened #18 "Is it possible to use the num keypad for desktop switching"
Hi - A really great app that fills a large gap in the default Windows setup.

I use a desktop keyboard and just wondered whether it would be possible to have an option to use the Num Keypad for the keyboard shortcuts rather than use the numbers above the keyboard.

As I am using, at your suggestion, Win, Ctrl with the arrow keys for moving right and left it seems a logical to move my right hand a

[2017-01-25 12:10] JeanLouisCaire opened #19 "Slideshow"
Hi,
This is not a Issue report but an enhancement request.

I agree that editing an ini file is not a big deal to configure this app. However would you think it would be possible to allow a directory for each desktop & have the wallpaper changing among the pictures in the directory? Replicate the windows functionality but on different desktops.

Thx for your good work.

JeanLouis

[2017-02-09 06:44] zhekaus commented on #13
The program is very helpful! However it must give an opportunity to set up hotkeys. Currently the program allows to switch between the desktops with ALT+CTRL+Number. However these shortcuts are using in many other programs, e.g. in MS Word for switching styles to H1-H3. It drives me crazy when I suddenly switch to another desktop trying simply to set Header2 style.

[2017-02-11 17:45] vnovichek commented on #17
There is a typo in virtual-desktop-enhancer.ahk:

$ diff virtual-desktop-enhancer-fixed.ahk virtual-desktop-enhancer.ahk
47c47
< global TooltipsEnabled := (TooltipsEnabled != "" and TooltipsEnabled ~= "^[01]$") ? TooltipsEnabled : 1
---

236c236
<     if (TooltipsEnabled) {
---

[2017-02-11 17:51] vnovichek commented on #17
A quick workaround is to use AreEnabled instead of Enabled in Tooltips section of settings.ini

[2017-02-12 17:16] sdias commented on #17
Thanks for reporting, and thanks for identifying the cause. I've uploaded a fixed version ([0.9.1](https://github.com/sdias/win-10-virtual-desktop-enhancer/releases/tag/0.9.1)).

[2017-02-12 17:16] #17 closed

[2017-02-12 17:18] sdias commented on #19
Hi. This would definitely be an interesting feature. I might look into it. Thanks for the suggestion.

[2017-02-12 17:21] sdias commented on #18
Hi. Thanks.

Yup, definitely agree with you. I prefer shortcuts that I can trigger with just my left hand, but, like you said, if the arrow keys based shortcuts already exist, I can't see a reason why numpad based shortcuts shouldn't also be a thing.

I'll try to address this in the next version.

[2017-02-12 17:22] sdias commented on #16
Hi. Thanks for the suggestion. I'll try to look into it to see if it is possible.

[2017-02-12 17:28] sdias commented on #15
Hi. Thanks for the report.

It is very strange indeed. This project uses a library that I did not create as an API to interact with Windows. I think this might be an issue in that library or in the Windows API itself.

I'm going to leave this be for now and maybe come back to it later on.

[2017-02-12 17:30] sdias commented on #13
@zhekaus Hi. Thanks. You don't have to use the default hotkeys, you can change them under the `settings.ini` file. Please see the README for details.

[2017-02-12 20:46] anxxx commented on #18
Thanks sdias

I realy appreciate the response and will look forward to the next version.

[2017-02-12 20:50] anxxx commented on #16
Hi epikgit

I may have misunderstood what you are asking but on my machine at least Windows 10 seems to remember the number of desktops I have open from one session to another without the need to recreate them.

[2017-02-14 03:03] PeteM92 opened #20 "Show / hide desktop icons"
Hi,

I have a dozens of program icons on my main desktop. Unfortunately they show up on every virtual desktop.

It would be an awesome feature if I could select, which icons are shown on each virtual desktop.

I could create a new virtual desktop with only 2 or 3 program icons or even a totally empty virtual desktop.

How do you thinks about this? Do you see a chance to add such a feature?

Thanks

[2017-02-14 16:10] meffect commented on #20
A different WIN+R shell:desktop for each vdesktop... interesting. At first I was thinking it's too much outside the scope of what this project seems to target. That may still be true..

[2017-02-14 16:13] meffect commented on #20
Cause I'd be hesitant to change  a very much fundamental part windows. The current features seems to enhance the core windows functionality rather than change it

[2017-02-14 19:47] PeteM92 commented on #20
Thanks for your answer.

I have no idea, how complicated it is to program such a kind of feature.
I played around with a small program which does similar desktop enhancements as yours - it´s called Dexpot. Dexpot claimes to have this icon hide feature - unfortunately Dexpot does not work reliable in Windows10.

Regards Pete

[2017-02-14 20:36] sdias commented on #20
Hi. Thanks for the suggestion.

I can think of one way of implementing this, but I really don't like it (moving the contents of your desktop between the desktop folder and other folders during runtime). There might be other ways to do it, though, I'll need to investigate.

[2017-02-14 21:57] meffect commented on #20
Ya cause stuff like `cmd>cd %UserProfile%\Desktop` would not be reliable anymore, potentially breaking expected behavior from other apps, services, etc. I don't know of a better way to do it myself

[2017-02-20 18:59] romanrudenko commented on #18
Hi sdias,

I wanted to switch from using regular numbers to numpad /, * and - keys, and actually patched the main script to do this in a reasonably consistent manner. settings.ini gets another property (e.g. Desktops=NumpadDiv,NumpadMult,NumpadSub), and the main script uses those shortcuts if possible. Excess virtual displays revert to using numbers. I keep track of bound hotkeys, so that OnMoveNU

[2017-02-20 19:20] sdias commented on #18
Hi @romanrudenko,

Thanks for the suggestion, and I love how you've looked into patching my script to do what you want, that's awesome.

As you probably can tell by the way the script was written, I really prefer switching between desktops using my left hand only (hence ALT+1, ALT+2, etc.). That was the main reason the Numpad was never considered for keyboard shortcuts before.

I do understand how

[2017-02-20 19:44] romanrudenko commented on #18
@sdias, thanks for the quick response. I know that you prefer the plain numbers. My implementation defaults to keeping plain numbers. They are replaced with something else only if a custom settings line is added to settings.ini. For me, this custom line is NumpadDiv, NumpadMult, NumpadSub. For someone who likes to use the numpad numbers, it would be Numpad1, Numpad2, ... , Numpad0. If one does not

[2017-02-20 20:01] sdias commented on #18
@romanrudenko I see. I guess I could add some additional optional keybindings for the first 3 desktops, it wouldn't be a lot of work. I don't like the idea of having them replace the original number key combinations, though. I'll try to get this into a future release. Don't worry about the PR though, I'd rather implement it myself, since the change is pretty simple.

[2017-02-20 20:11] romanrudenko commented on #18
The rationale for replacing the original shortcuts is to allow native Win+# behavior of switching applications. If one uses Win modifier for virtual desktop switching, those shortcuts get clobbered. I could extend the code to give user a choice in the .ini - add custom shortcuts while keeping numbers, or replace the default number shortcuts.

In any case, you seem to be happier with doing things o

[2017-02-20 22:33] sdias commented on #18
You have a point when you mention the native shortcuts. I'll give it some thought.

[2017-02-20 23:15] sdias commented on #18
I'm a bit critical of some of the suggestions because I want to avoid bloating the script with features that are only useful for very particular situations or configurations.

@romanrudenko One way I could implement something that I think would satisfy your needs and be a bit more flexible would be to make the keys that represent the desktops completely customizable. They would default from 0-9, b

[2017-02-21 01:03] aNaoy opened #21 "Issue with windows "run as""
First of all, thanks for your hard work, it's well done.

As IT administrator, I often use the "run as another user" feature, but when I switch to a desktop with a program executed as another user (which isn't the user running the current session), no shortcut works.

Is there a way to detect the shortcuts even in a process which isn't run by the user who owns virtual-desktop-enhancer?

[2017-02-22 11:49] oskari commented on #13
I stumbled to the exact same problem with chrome and switched my 'switch' modified to 'Ctrl'. Now I can't use Ctrl + A to select all text.  Why does the program hijack shortcuts that it doesn't even use?

[2017-02-22 12:16] drewnoakes commented on #13
@sdias I would vote for your idea of using <kbd>Ctrl</kbd>+<kbd>Win</kbd> as the default modifiers. The <kbd>Win</kbd> key makes it feel like you're operating at the desktop/shell level, and the pair is consistent with the built in (and not muscle-memorised) keys for switching desktops.

Right alt is not always an option in other programs. On my keyboard it's <kbd>Alt Gr</kbd> which doesn't  behav

[2017-02-22 14:43] ErichDonGubler commented on #13
@drewnoakes I agree. Having a drop-in replacement with the keyboard shortcuts actually sounds really interesting for flow.

[2017-02-22 15:38] sdias commented on #13
Ok, it seems that changing the defaults to something that resembles the default Windows keyboard shortcuts is the preferred option. I'll change the default switch combo to `Win`+`Ctrl`. What about moving windows across desktops? I'm thinking about setting move only to `Win`+`Shift` and move and shift to `Win`+`Shift`+`Ctrl`, which should be intuitive. What do you think?

[2017-02-22 16:39] ErichDonGubler commented on #13
`Win`+`Shift`+`Ctrl` sounds pretty intuitive to me. That's my vote!

[2017-02-22 16:49] meffect commented on #13
@oskari It does not do that to me. I think you have something else going on

[2017-02-22 17:20] oskari commented on #13
@sdias @meffect Doesn't seem to do it always but there was definitely something going on as I didn't experience the issue anymore after I immediately closed virtual-desktop-enhancer.exe from taskbar.

[2017-02-22 17:54] sdias commented on #13
@oskari AutoHotkey can bind keys in a lot of different ways. Maybe the one I'm using is not the most appropriate. I have noticed, for example, that when I switch desktops using `Alt`+`<Number>` into a desktop with a game running in windowed mode, my character crouches in the game, as if I had pressed `Ctrl`, which I don't think it makes a lot of sense and should not be happening, there may be some

[2017-02-22 18:01] sdias commented on #21
Thanks. I really don't know, to be honest. I didn't develop the underlying library that this program uses to interact with Windows ([Ciantic did](https://github.com/Ciantic/VirtualDesktopAccessor)), so I don't know how ownership of processes affects this program's functionality. I might look into it at some point. Please let me know if you learn anything more about this issue.

[2017-02-26 00:25] sdias commented on #13
[I just published a new release with the keyboard shortcuts that were suggested as defaults](https://github.com/sdias/win-10-virtual-desktop-enhancer/releases/tag/0.10.0).
Unfortunately, there is a bug (that as far as I can tell I can't fix since it is due to an interaction between AutoHotkey and Windows) in that if certain keyboard shortcuts that use the `Windows` key are used, after using them t

[2017-02-26 00:26] #13 closed

[2017-02-26 00:49] meffect commented on #13
`MoveWindowAndSwitchToDesktop=Win, Shift` is working good for me. Start menu doesnt pop up. I'm on build [15025](https://en.wikipedia.org/wiki/Windows_10_version_history#Version_1703_.28Creators_Update.29_2) though.. maybe ms fixed something.  Love this update very cool ty all

[2017-02-26 00:50] sdias commented on #13
@meffect Good to know, I might re-enable it in the future. Thanks.

[2017-02-26 18:14] sdias commented on #18
@anxxx @romanrudenko [Check out the new release](https://github.com/sdias/win-10-virtual-desktop-enhancer/releases/tag/0.10.1), I made it possible to customize desktop specific keyboard shortcuts, and there are two sets (that default to the regular number keys and the Numpad number keys).

[2017-02-26 18:16] #18 closed

[2017-02-26 20:03] sdias commented on #9
@Starofall [Just published a release with this change](https://github.com/sdias/win-10-virtual-desktop-enhancer/releases/tag/0.10.2), let me know how it works for you.

[2017-02-26 20:04] #9 closed

[2017-02-27 00:14] Dyphen opened #35 "Possibility for native animations?"
I know it's silly, but I was wondering how feasible it is to use the native "slide" animation when switching between virtual desktops.

[2017-02-27 00:38] sdias commented on #35
Hi. I don't think it's silly, it could probably be done. Personally, I wouldn't use it because I find it a bit confusing and I like it to be instant. Would you?

[2017-02-27 10:19] drewnoakes opened #36 "Option to control wrapping"
Could there be an option to disable wrapping from last to first desktop and vice-versa?

[2017-02-27 11:29] anxxx commented on #18
Just a quick note to say a huge thank you.

The new beta version seems to work perfectly with the Num Keys.

Greatly appreciated.

[2017-02-27 17:29] sdias commented on #36
Yup, I'll do this at some point.

[2017-02-27 17:29] sdias commented on #18
@anxxx No worries, happy to help. I'm glad you're enjoying it.

[2017-03-06 01:17] sunyu97 commented on #14
Maybe we could go a little further , how about this:

[OpenAtDesktop1]
1=
2=
[OpenAtDesktop2]
1=
2=
[OpenAtDesktop3]
1=notepad++.exe
2=

That would be very handy :)

[2017-03-21 19:28] cruzer619 commented on #21
i'm an IT admin as well.. if you run the exe as administrator.. your able to switch desktops when you switch desktops.

[2017-03-26 21:01] Starofall commented on #9
@sdias thank you! It works as expected 👍

[2017-04-01 21:40] kger opened #37 "Not running - DLL registration issue?"
I have "unblocked" both the .EXE file and the .DLL file, and even downloaded the latest version of the DLL, but the script still does not work.  I put MsgBox statements in the script, and the problem seems to be in executing the "DllCall(GoToDesktopNumberProc, Int, n-1)" statement.

I am running on 64-bit Windows 10.

Any clues as to what else I can try?

[2017-04-01 21:50] kger commented on #37
More info:
Right after the call that loads the DLL, %ErrorLevel% has a value of zero.
Right after attempting the "GoToDesktopNumberProc" attempt, %ErrorLevel% is -4 (negative 4).
AutoHotKey documentation says that means "The specified function could not be found inside the DLL."

[2017-04-04 13:49] huchister opened #38 "Remembering Window Position when Boot up."
Greeting,

First of all, I appreciate for your works upon virtual desktop enhancer.

Is it possible to remember all window position on each virtual desktop when boot up?

For instance, if you hit shortcut key (ctrl+win+alt+r) which would remember all window & app position, so that I do not have to spend time figuring out moving application on everytime.

Thanks.

[2017-04-05 02:52] gityta commented on #37
Did you ever get a resolution?  I just downloaded / installed and it doesn't work at all.  I'm also on Win 10 64-bit.

[2017-04-05 09:00] sdias commented on #37
Hi. What is the version of your Windows installations?

[2017-04-05 20:05] gityta commented on #37
@sdias:  I have Win 10 Home, 64-bit.  (The 'free' update from Win 8.x)
ver:  Microsoft Windows [Version 10.0.14393]

[2017-04-06 02:37] gityta commented on #37
I need to clarify...  The EXE works.  (Mostly, at least.  Still checking some key assignments.)
Running the AHK file fails.  The systray icon loads, I can right click it, etc., but the hotkeys don't work.

[2017-04-06 11:22] sdias commented on #37
I think the problem is either related to admin permissions or with the latest Windows update. I'll have to investigate when I have some time.
@gityta That's strange. Maybe AutoHotkey isn't running with enough permissions.

[2017-04-06 15:19] gityta commented on #37
For what it's worth, running the script as Administrator did not change the behavior.

[2017-04-06 16:10] sdias commented on #37
What version of AutoHotkey do you have installed?

On 6 Apr 2017 4:19 pm, "gityta" <notifications@github.com> wrote:

[2017-04-06 18:25] gityta commented on #37
I have version 1.1.24.00

[2017-04-10 13:23] sdias commented on #37
@kger @gityta I'm stumped. You are using the same version of Windows and AutoHotkey that I am. Could it be that the current working directory that you are launching the script with isn't the directory where the script is located in?

[2017-04-11 00:16] gityta commented on #37
@sdias I specifically ran the script from the directory where it is located.

[2017-04-11 07:24] MitjaBezensek opened #39 "Cannot switch between windows"
I'm having a problem where the Virtual Desktop Enhancer somehow gets stuck. I cannot switch between windows, cannot close them, cannot even click inside the window to make it active. It is as if the windows don't get focus at all.

I can usually solve this by pressing LAlt or pressing Esc multiple times or Reloading the Virtual desktop Enhancer settings (if I'm able to right click on the icon). Wh

[2017-04-12 04:25] meffect commented on #39
i had this same thing in insider builds (which is now live creators version), i didnt say anything cause it was 'beta' version of windows but i guess it still exists maybe

[2017-04-13 10:37] temporaer opened #40 "[Feature request] switching to most recent desktop"
It would be nice if there could be a key combination to switch to the most recently opened virtual desktop. (e.g., i find myself often switching back and forth between a "browser" and a "work" desktop, and a "toggle" key would be nice for that)

[2017-04-13 10:51] sdias commented on #40
I agree, sounds useful. I'll implement it at some point.

[2017-04-13 10:55] sdias commented on #39
That is very strange indeed. I would understand if the app stopped working, but don't understand why it would lock up Windows completely. Once I update my machine, I'll look into it. I advise people to not update though, for the moment, since the update has some issues (memory leaks, etc).

[2017-04-13 10:57] sdias commented on #38
Hi, thanks.

I've been toying with the idea of allowing you to specify the location of windows and apps on a specific virtual desktop, based on rules. I'm not sure how I'll implement it, but I'll take your suggestion into account, thanks.

[2017-04-13 11:05] sdias commented on #37
@gityta Very strange indeed. The only other reason I can think of is that the script and the executable are running different code, but I recompiled the script into a new executable, and both still work on my machine. I'm glad the executable works for you though.
I'll leave this open to see if any other people are experiencing this, and based on what they report to see if we can debug this further

[2017-04-13 12:24] MitjaBezensek commented on #39
I'm using the insider builds as well so that might confirm what @meffect wrote. Unfortunately, I cannot remember if I had these problems before installing the creators update though.

[2017-04-17 13:54] aelfredwulf commented on #35
Yes! Please enable the default slide animation.

[2017-04-17 14:11] moymike commented on #35
The problem with using the slide animation, is that the wallpaper won't "slide" with it.  The result is the desktop will slide over until on the new screen, then the wallpaper will swap out.  The current, no slide, switches the desktop with the new wallpaper without the animation.

Using the standard windows shortcut to "slide" the desktop while the enhancer was running, allows you to see how the

[2017-04-17 15:51] sdias commented on #35
Yeah... My app tries to overcome some limitations using workarounds (like re-setting your wallpaper on-the-fly as you change desktops), but you can only do so much with what is available.

For example, the only way I'd be able to implement this feature (using the slide animation for any keyboard shortcut) would be for me to replicate pressing `Win+Ctrl+Left/Right` as many times as necessary to nav

[2017-04-19 03:43] rajsinghUSA commented on #39
Oh man! I just discovered your awesome project today! Unfortunately, I've already installed the Creator Update on Windows. Any idea of when you may have an update to Win10vde to make it compatible? Sorry to push, I am just really excited to have found this project and looking forward to using it.

[2017-04-24 22:44] ariofrio commented on #35
I don't use the different wallpapers feature, so being able to use the native animations even if different wallpapers per virtual desktop doesn't work correctly, would work just fine for me. I imagine other users might have the same experience. Great job on this, btw!

[2017-04-24 22:48] ariofrio opened #41 "Hold down the modifier keys, then a number, then another number doesn't work for the second number"
Assuming default keybindings, here is how to reproduce this:

- Hold down Ctrl and Win
- Press a number:
    -> Windows switches to the nth virtual desktop
- Press another number (without releasing Ctrl and Win!):
   -> the number is typed into whatever application is focused, as if Ctrl and Win were not being held down

I imagine this has something to do with how AutoHotKey works with keyboard bi

[2017-04-25 17:08] sdias commented on #41
Hi, thanks for reporting this. This kind of thing is pretty typical with AutoHotkey, yeah. I'll see if there is something I can do to improve it.

[2017-04-25 17:15] sdias commented on #39
@rajsinghUSA Hi, thanks. I still haven't updated to the Creator Update, once I do I'll look into it. The weird thing is that it should just work; [the library that I use was reported to work with the new Windows update without any changes](https://github.com/Ciantic/VirtualDesktopAccessor/issues/15), and that is the only thing that links my app to the OS.
[Could you please try to replace the DLL t

[2017-04-29 10:49] mfells opened #42 "Installation - can't find .exe"
I just downloaded and the .exe doesn't seem to exist.  I have tried searching GitHub and can't find it there - do you know what I might be doing wrong?

I also tried the AutoHotkey approach but that resulted in "Error: Can't load icon.  Specifically: icons/+.ico .  The starting line # is 511.

I have Win 10 Home, 64-bit. (The 'free' update from Win 8.x but now upgrader to the Creator edition ... s

[2017-04-29 23:55] sdias commented on #42
Hi, thanks. Please check the releases page: https://github.com/sdias/win-10-virtual-desktop-enhancer/releases.
The executables are only available on releases. Also, there have been reports of issues running this app with the Creators Update installed, please let me know how it goes for you on this thread: https://github.com/sdias/win-10-virtual-desktop-enhancer/issues/39

[2017-04-29 23:56] #42 closed

[2017-05-03 03:33] boxler opened #43 "Wallpaper won't change; Only desktop 1 name working"
I can't get the wallpaper to change between desktops. I also cannot seem to get the Desktop name function to work beyond the first desktop. Any ideas as to what is causing this issue?

I copied and pasted the file location and filename.jpg next to the wallpaper section (1=, 2=)

[2017-05-03 20:18] GioBonvi commented on #43
I have just downloaded this program and for me it works perfectly, so I really don't know why desktop names wouldn't work for you: maybe you could try dowloading it again making sure to use the [latest release](https://github.com/sdias/win-10-virtual-desktop-enhancer/releases/latest).

As for the wallpapers it could be usueful to know some more details: what does exactly happen? No wallpaper is sh

[2017-05-03 20:52] boxler commented on #43
Thank you for the feedback. I tried deleting and reinstalling the program and 2 of the wallpapers worked but not the others. However, I just deleted and reinstalled it a third time, but instead of putting the file in a folder, I put it directly on my desktop and now it seems to be working fine. The only issue I'm having now is the desktop names still do not work aside from the first desktop name.

[2017-05-03 21:10] GioBonvi commented on #43
Maybe someone else will have some ideas: to me it sounds like a possible problem woth the pathnames of the wallpapers (non supported characters maybe, or something else). Hope you can sort it out.

[2017-05-04 11:01] anormann opened #45 "Back port to Win-10 vanilla (10.0.10586)"
At work I am not able to update Win-10, but I use this at home and it's just perfect.

Is it at all possible to not require anniversary, and if so could you hint at what I could do to make this work? I'm guessing it's to do with the .dll but can't see that there is source included. I really only care about moving a window to another desktop + switch to that.

[2017-05-04 17:18] sdias commented on #43
Hi. Thanks @GioBonvi for the help. @boxler Not sure what is happening here, would you mind posting your `.ini` file?

[2017-05-04 17:21] sdias commented on #45
Hi. Thanks.
I think that functionality has been there since the very beginning, so you might want to try one of the older releases. I should have a disclaimer saying which version requires the Anniversary update, you can try the one just before that.
If that doesn't work for you, you can try using the latest release with one of the older DLLs; some of the functionality won't work, but most will.

[2017-05-04 17:36] #36 closed

[2017-05-04 17:53] sdias commented on #36
Check out https://github.com/sdias/win-10-virtual-desktop-enhancer/releases/tag/0.10.3.

[2017-05-04 20:45] drewnoakes commented on #36
Very cool!

[2017-05-05 02:52] boxler commented on #43
This file?

By the way, desktop wallpapers are changing now. Just still having problems with the desktop names. After a fourth download attempt, I am up to 4 of the 5 desktop names showing up correctly. Can't seem to get them all to work, though.

; https://autohotkey.com/board/topic/33506-read-ini-file-in-one-go/

ReadIni( filename = 0 )
; Read a whole .ini file and creates variables like this:
;

[2017-05-05 08:14] GioBonvi commented on #43
I think @sdias meant the `settings.ini` file, the one in the same folder as the executable.

[2017-05-05 14:58] sdias commented on #43
I did indeed, sorry for not being clearer.

On 5 May 2017 09:14, "Giorgio Bonvicini" <notifications@github.com> wrote:

[2017-05-05 17:35] GioBonvi opened #47 "Feature proposal: more tooltip customization"
I find that having more customizable toasts could be a useful feature. The options I thought of are:

- fade out animation duration (currently fixed at 100ms
- position (currently center or bottom-right corner): I thought of something like `xPos: LEFT, CENTER, RIGHT; yPos: TOP CENTER BOTTOM` to get all the combinations easily

If you approve this I can code this features into my last pull request

[2017-05-08 18:46] moymike opened #48 "Just added a little code, and OMG it's nice..."
I am a big fan of virtual desktops.  I was pretty happy when Windows 10 brought out support, but it fell a bit short.  Your enhancer filled in some of the features I was hoping to find.  I then spent some time working on a Mac, and again I saw how much we still have to gain in use of virtual desktops.

I purchased a Lenovo Yoga 720, and wow...  the touch pad gestures for controlling the virtual de

[2017-05-09 01:50] mzomparelli commented on #48
I'm just putting this out  here because I've used this and while nice, is too difficult for a lot of users. That's when I made this.
https://github.com/mzomparelli/zVirtualDesktop

[2017-05-09 01:55] mzomparelli commented on #39
If you're looking for something that is Creator update ready then give this a try.

https://github.com/mzomparelli/zVirtualDesktop

[2017-05-09 01:57] mzomparelli commented on #39
@sdias don't use that compiled DLL. Instead, use the project that its referencing.

https://github.com/Grabacr07/VirtualDesktop

[2017-05-10 19:14] jed-frey opened #49 "Beta 0.10.3 .zip is wrong file format."
It's actually a .7z file. Windows 10 complains that it is an invalid type.

7-Zip will warn you that it's an invalid .zip so it's opening it as a .7z.

For people without 7-Zip installed they probably can't open release.

[2017-05-10 19:51] GioBonvi commented on #49
Yep, confirm this!

[2017-05-11 12:42] sdias commented on #49
Thanks, I'll fix it later.

[2017-05-11 12:43] sdias commented on #39
@mzomparelli Thanks, I wasn't aware of that project. Will do.

[2017-05-11 12:46] sdias commented on #48
@moymike That's awesome. AutoHotkey is really powerful, I'm barely scratching the surface with my project. Thanks for your input.

[2017-05-11 12:52] GioBonvi commented on #47
Will do then!

This weekend I should be able to further test my PR on multi-monitor tooltips as well.

[2017-05-11 16:52] sdias commented on #49
Done, I created it with PeaZip this time around, let me know if it doesn't work.
https://github.com/sdias/win-10-virtual-desktop-enhancer/releases/tag/0.10.3

[2017-05-11 16:52] #49 closed

[2017-05-15 16:53] rajsinghUSA commented on #39
Hi @sdias, were you able to install the Creator Update? Still looking forward to trying win10vde.

[2017-05-15 17:19] GioBonvi commented on #39
@rajsinghUSA do you mind if I ask some questions?

 -  Do you use the compiled exe or the ahk script
 - Do you have autohotkey installed? Which version?
- which Windows build are you running? (see [this] (https://www.howtogeek.com/236195/how-to-find-out-which-build-and-version-of-windows-10-you-have/)). Insider preview?

[2017-05-15 17:29] rajsinghUSA commented on #39
@GioBonvi

1. I intend on using the AHK script, though I am waiting for this issue to be resolved.
2. I use AHK version 1.1.25.01.
3. My Windows 10 Home is version 1703, OS Build 10.0.15063 (which is not on the Insider preview).

[2017-05-15 17:49] GioBonvi commented on #39
@rajsinghUSA

I'll compare your system details with mine as soon as I get home. I have Windows 10 with creator update installed and never had a problem...

Just to clarify: does the issue arise only when using the script, only when using the exe or both?

Have you tried downloading an older version?

[2017-05-15 18:52] sdias commented on #39
@rajsinghUSA Still haven't. I'm a bit unsure on what to do at the moment. It seems Ciantic's DLL works fine for some people, but not others. Their DLL hasn't changed at all between the previous version of Windows and the current, so that leads me to believe there were no changes in the core Windows implementation related to this features, so everything should just work, even though it doesn't for

[2017-05-15 19:06] sdias commented on #47
[Published!](https://github.com/sdias/win-10-virtual-desktop-enhancer/releases/tag/0.10.4) Thanks.

[2017-05-15 19:06] #47 closed

[2017-05-15 19:06] #6 closed

[2017-05-15 19:07] sdias commented on #6
[Implemented by @GioBonvi.](https://github.com/sdias/win-10-virtual-desktop-enhancer/releases/tag/0.10.4)

[2017-05-15 20:24] rajsinghUSA commented on #39
@sdias, I have good news to report: win10vde works fine. I was waiting for this issue to get resolved before trying out your project, but seeing that it works for some people with Creator Update, I decided to try it out.

I downloaded the zip file, extracted, and compiled the .ahk file into an .exe, and then ran the .exe. **Everything works perfectly.** Thank you for creating this great project!

[2017-05-15 21:40] sdias commented on #39
Great, thanks for the report. I'm going to leave this open so more people
can report their experiences l.

On 15 May 2017 21:24, "Raj" <notifications@github.com> wrote:

[2017-05-16 20:21] GioBonvi commented on #7
@tomiu @phodge25

I am currently revising all the old issues and bugs: do you still experience this probem on the last version?

[2017-05-16 20:55] GioBonvi commented on #41
@ariofrio

Hi, I am currently revising all the old issues and bugs of this project: do you still experience this probem on the last version?

I was not able to repliacate this behaviour on my computer.

[2017-05-16 22:26] ariofrio commented on #41
I just upgraded to 0.10.4. This continues to reproduce on my computer.

For reference, here is the General section in my settings.ini:

[code]

[2017-05-16 22:40] GioBonvi commented on #41
This is definitely strange.

As sdias said before this kind of bug can happen when working with Autohotkey, so here are some questions to clarify: if you use the AHK script, which version of autohotkey do you have installed? If you use the compiled exe, which version did you compile it with? (or did you download it from the release page?)

[2017-05-17 08:40] sdias commented on #41
So AutoHotkey has this thing where it doesn't fully track key down states of modifiers as well as you'd like, in my experience. The way I've gotten around it before was by not using the default keybinding method, and instead, when you press part of the key combination, you check the state of the modifiers to know whether or not to apply the action. The problem is that the keybindings in this proje

[2017-05-17 21:26] ariofrio commented on #41
To answer @GioBonvi questions, I am using the compiled exe downloaded from the release page, version 0.10.4.

[2017-05-18 20:22] GioBonvi commented on #41
@ariofrio

I am trying to replicate this on one of my systems, so here are some other questions; I hope I am not bothering you too much:

 - does this happen only with default keybinding (Ctrl + Win)?
 - do you use the numpad or the normal digits to switch to the nth desktop?
 - does the problem arise only when switching to the nth desktop or with other commands as well (e.g. Win + Ctrl + Arrows)?

[2017-05-18 20:26] GioBonvi commented on #37
Hi @gityta, I am currently revising old issues on this project: do you still experience the bug you reported?

[2017-05-18 20:34] GioBonvi commented on #43
Hi @boxler,
are there any updates on the problems you reported?

[2017-05-19 03:55] gityta commented on #37
Hi @GioBonvi, I haven't done anything other than use the EXE since posting this.  Since it works so well, I just stayed with it.  Didn't have time to do any more testing.

[2017-05-19 22:46] boxler commented on #43
I will send you the file contents next time I'm at my computer. Sorry for the delay. Everything works great except the names of the different desktops. This isn't a huge deal for me, however. Upon further consideration, I think I prefer the generic names of desktop 1, desktop 2, etc. Thanks for all the support with this :)

[2017-05-23 04:38] boxler commented on #43
`[General]
DefaultDesktop=1
TaskbarScrollSwitching=1
UseNativePrevNextDesktopSwitchingIfConflicting=0

[Tooltips]
Enabled=1
Centered=1
FontSize=11
FontColor=0xFFFFFF
FontInBold=1
BackgroundColor=0x1F1F1F
Lifespan=750

[KeyboardShortcutsCombinations]
TogglePinWindow=Win, Ctrl, Shift, Q
TogglePinApp=Win, Ctrl, Shift, A
PinWindow=
PinApp=
UnpinWindow=
UnpinApp=
; "SC029" is the key below your "Esc" k

[2017-05-23 04:42] boxler commented on #43
I figured out the problem upon posting my settings file here. There was a space or return between the equals sign and the beginning of the title to my 4th desktop. This did not show up on the file in notepad, however. After deleting this space, the title is displayed correctly.

Looks like everything is working appropriately now. Thank you all so much for your time and help in solving these issues

[2017-05-23 14:20] GioBonvi commented on #43
Glad it all worked out!

[2017-05-23 14:20] #43 closed

[2017-05-24 22:25] ariofrio commented on #41
- No, I actually use <kbd>Win</kbd>+_X_ instead of <kbd>Win</kbd>+<kbd>Ctrl</kbd>+_X_ normally, but I have tested this with the default keybinding as well.
- This occurs with both the numpad and the normal digits.
- This also occurs when using the arrow key shortcuts.
- Wow, that was a great idea. It turns out this bug only reproduces when using a remote keyboard over [Synergy](https://symless.com

[2017-05-24 23:55] boxler opened #50 "A way to start program when computer starts?"
I was wondering if there is a way to make this program start when my computer starts. I tried adding it to my startup folder (C:\Users\Brad\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\Startup), but when I do that, it cannot seem to find its associated files that are located on the desktop. When I add all of the files to the startup folder, it does not work either and ends up opening file

[2017-05-25 05:42] GioBonvi commented on #50
Hello, @boxler

To make the program start up at login go to the folder where you saved the executable and the other files related to the program, right click on the executable -> "Send to" -> "Desktop (create shortcut)".
This should create a shortcut for the program on your desktop: right click on it, cut it, go to your startup folder (`C:\Users\Brad\AppData\Roaming\Microsoft\Windows\Start Menu\Pr

[2017-05-25 06:32] boxler commented on #50
@GioBonvi That got it to work! Thank you so much for your help!

[2017-05-29 10:33] anormann commented on #45
Thanks for the tip.

Tried using the DLL from 0.6.2 with the latest. Tooltips work, as well as (obviously) desktop switching and wrap. But I can't get `MoveWindowAndSwitchToDesktop` to work. It seems MoveAndSwitch was introduced in 0.7.0 which needs Anniversary.

[2017-05-29 12:45] sdias commented on #45
Yeah... I just rechecked and unfortunately that feature wasn't available in the version of the underlying library that this project used for vanilla Windows 10. Sorry for leading you on, and thanks for reporting back.

[2017-05-29 12:46] #50 closed

[2017-05-30 09:29] sdias commented on #45
Nevermind my previous comment, it didn't make any sense. `MoveWindowAndSwitchToDesktop` was introduced in that version, but in the underlying code I'm just doing the two different operations (move a window and switch to a desktop) at once, with two separate API calls, so there is no reason why it shouldn't work. I'll have to setup an environment to test this properly, but I'll look into this at so

[2017-05-30 20:32] GioBonvi opened #52 "Documentation and instructions enhancement."
I was wondering for some time if there was something that could be done to make the documentation a little more user friendly, while keeping it easily accessible to everyone (non-technical users in particular).

These are some of the things I thought of and would like to hear your opinion on:

First of all, markdown files are great on GitHub, but once they are downloaded offline most users will on

[2017-06-01 17:38] dsutherland1492 opened #53 "How do you make custom changes?"
This seems to be mostly precompiled minus the the ahk file.  If you want to add functionality to the dll or update the exe for testing locally, how would you go about doing that?  Are you guys not planning posting all of the source code / build instructions?

[2017-06-01 17:49] GioBonvi commented on #53
Hello, @dsutherland1492

I am just a contributor here: @sdias is the creator of the project and he will surely be able to give you a better answer, however, from what I've understood since I've been helping here, this project uses a compiled DLL from [Ciantic's VirtualDesktopAccessor](https://github.com/Ciantic/VirtualDesktopAccessor) and I remember that someone said that it was compiled from [Grb

[2017-06-01 20:13] dsutherland1492 commented on #53
Oh sweet, that makes sense.  What about compiling the executable in the release?  Are you guys just converting the ahk file to an exe?  Or are you doing something fancier then that?

[2017-06-01 20:22] GioBonvi commented on #53
Once again, releases are built by @sdias and not by me, however I believe in an old issue he mentioned "compiling the ahk script to match the last version", so almost certainly the exe file is actually nothing more than the compiled version of the ahk script.

[2017-06-04 15:11] sdias commented on #52
I agree with you on most points.
I agree with you when you say most people won't read documentation offline, but not by the aspect of the file (raw markdown is pretty readable as is, and I even took the time to format the tables correctly to be readable when raw) but due to the files' extension (`md`) and the fact that Windows doesn't know that it is a text file by default and non tech savvy users

[2017-06-04 15:15] sdias commented on #53
@dsutherland1492 @GioBonvi I confirm everything that @GioBonvi has said, except for the fact that  [Ciantic's VirtualDesktopAccessor](https://github.com/Ciantic/VirtualDesktopAccessor) uses [Grbacr07's VirtualDesktop](https://github.com/Grabacr07/VirtualDesktop), that I'm not sure.

[2017-06-04 15:42] GioBonvi commented on #52
Compiling markdown to HTML for releases looks like a great idea!

What do you think would be the besta way to go for online documentation? Github pages or Wiki? Both formats accept markdown files and they are quite equivalent for small projects like this, but given your proposal of compiling MD to HTML I would use Pages, so that: `.md` files can be part of the project (`/docs` folder) and remain e

[2017-06-04 15:52] sdias commented on #52
I'm not sure what you mean by pages, but I think the best would to leave the information in MD files, with the README being the index file. That way they can easily explore all of the other MD files easily (by using the links) and we wouldn't have to tie the information to another location (which we would with a Wiki) or maintain it in another format at all.
In addition to that, we could compile t

[2017-06-04 16:02] GioBonvi commented on #52
GitHub offers a service called [Pages](https://pages.github.com/): it allows you to host your documentation (.md or .html files) on a website directly from your project.

Let me explain with a practical example.
This is a project a recent project of mine: https://github.com/GioBonvi/GoogleCalendarBirthdayNotifications. If you open the link you will find nothing more than the classical GitHub proje

[2017-06-04 16:13] sdias commented on #52
Neat, thanks, I didn't know that. I didn't look into it in detail, but as long as it allows us to maintain our documentation easily and couple it with the code, since the documentation is version-dependent, I'm happy with it.

[2017-06-04 22:27] GioBonvi commented on #52
Issue closed with the merge of branch reorg-documentation.

[2017-06-04 22:27] #52 closed

[2017-06-04 22:34] GioBonvi commented on #53
@dsutherland1492 the comment I was referencing that I could not find before was one of mzomparelli's on #39.

[2017-06-06 06:10] kbooty opened #55 "Can't get renaming to work"
Program Version: Beta 0.10.4

Problem: I can't seem to get the tabs to be renamed. This is the first I'm using it so I'm not sure if I'm missing something.

![desktop](https://cloud.githubusercontent.com/assets/29222012/26815943/10fe1622-4a44-11e7-9318-dc15c24733a7.jpg)
![settings file](https://cloud.githubusercontent.com/assets/29222012/26815944/1105b184-4a44-11e7-9760-f98f67d95c23.PNG)

[2017-06-06 06:16] GioBonvi commented on #55
Hello @kbooty, thank you for reporting this.

If I understood correctly you would want your assigned names to appear instead of "Desktop 1", "Desktop 2" and so on in your first screenshot.
Unfortunately this is not a supported feature at the moment: desktop names only appear in the popups (if you have activated them) and in the tooltip of the tray icon when hovering it with the mouse.

I can see h

[2017-06-06 06:36] GioBonvi commented on #55
@kbooty little update

A cursory search on Google seems to reveal that in the current version of Windows 10 it's impossible to rename desktops:

- [here](https://superuser.com/questions/959258/change-name-of-virtual-desktop-in-windows-10) it says the feature is not yet supported (this project is actually quoted as a workaround)
- [here](https://answers.microsoft.com/en-us/windows/forum/windows_10-

[2017-06-09 13:59] Perlence opened #57 "Game bar pops up"
When I use hotkeys to switch to a desktop by its number, Game bar pops up and says, "Do you want to open Game bar?" Sometimes it disappears right away, sometimes it stays for a long time. I tried to disable tooltips, but it didn't help. Disabling Game bar all together actually works, but it's kind of brute solution.

[2017-06-09 15:21] GioBonvi commented on #57
I cannot replicate this on my computer, however I have observed some behaviours which could be related.

It looks like `Ctrl + Win + Number` is a default Windows keybinding for "Start the nth program pinned in the taskbar: if that program is already running minimize/maximize its window".

My guess would be that you have some application pinned on the taskbar which causes the Game bar to fire up or

[2017-06-09 16:08] Perlence commented on #57
Actually I remapped SwitchDesktop modifier to <kbd>Alt</kbd>. This happens not only on my PC, but also in a newly imported Windows 10 Preview (15.15063) VM provided by [modern.ie](https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/).

[2017-06-09 16:24] sdias commented on #57
@Perlence Is there any chance that the keyboard shortcut to show the Game Bar is conflicting with one of the keyboard shortcuts in this app? Apart from that and what @GioBonvi has said, I can't think of any other reason it would do this.

[2017-06-09 16:58] Perlence commented on #57
It looks like this only happens when `SwitchDesktop=Alt`. The bar appears on windows of Edge, Firefox and foobar2000, but not on Total Commander and Sublime Text.

[2017-06-09 17:03] GioBonvi commented on #57
@Perlence do you mean that the bug only appears when switching from a desktop while having one of those programs focused? Or when  landing on a desktop with that program?

[2017-06-09 17:14] Perlence commented on #57
So, it appears when an app is run as a simple user and its window has focus. If app is run as administrator the bar does not pop up no matter the focus.

[2017-06-10 10:32] GioBonvi commented on #57
@sdias @Perlence
I was able to replicate this behaviour on my machine (Build 15063.296).

This is what I observed:
 - the bug consists in the Windows Game Bar appearing even when applications are quite obviously not games as reported by @Perlence
 - disabling the Windows Game Bar in the Settings app (first option in the Game settings page) prevents the bug from happening as reported by @Perlence

[2017-06-10 15:21] vikonen commented on #57
I encountered this bug as well but I'm using `Win` key as modifier instead of `Alt` so I don't think this is related to only using `Alt` in keybindings.

I ended up disabling the game bar since I don't need it.

[2017-06-10 15:56] Perlence commented on #57
@GioBonvi Great summary!

[2017-06-10 16:55] GioBonvi commented on #57
@vikonen

Thank you for the info: updated my observations accordingly.

[2017-06-10 23:51] robertmeta commented on #40
Does this have a chance of being merged?  This is a great feature.

[2017-06-10 23:53] sdias commented on #57
@GioBonvi I second @Perlence, great job in pinning this down.
Some weird interaction seems to be going on, and I'm not sure we will be able to fix it. Maybe we should consider a "Known Issues" section in the documentation.

[2017-06-11 08:01] GioBonvi commented on #57
@sdias I agree: there are also some old issues that could be included.

[2017-06-11 08:03] GioBonvi commented on #40
@robertmeta actually I had forgot about this issue and the related branch...

I'll have a look into it and discuss this with @sdias

[2017-06-13 19:20] GioBonvi commented on #21
@cruzer619 Can you confirm that this is still the case with the latest version? I am not able to reproduce this behaviour.

[2017-06-13 19:46] #53 closed

[2017-06-13 20:41] GioBonvi commented on #16
Hi @epikgit: can you clarify your request a little bit more? As @anxxx said it looks like WIndows already does this by default.

Thank you for your time.

[2017-06-13 21:53] cruzer619 commented on #21
nice.. didnt see there is newer version.. downloading now.. going to test it out.

[2017-06-13 22:02] cruzer619 commented on #21
nope still the same thing...  I right click on virtual-desktop-enhancer.exe, run as administrator.. and when I switch desktop via keyboard shortcut, always shows "1".  If I run virtual-desktop-enhancer.exe as a normal user functions as it suppose to.

[2017-06-14 17:37] GioBonvi commented on #21
Reporting here my observations on running WIndows 10 Virtual Desktop Enhancer as administrator or as other user:

 - If you run the program with a different user from the current one it won't work at all: a tray icon with AutoHotkey's logo will appear, but you won't be able to switch desktops or anything else
 - As @aNaoy initially reported, if you run Windows 10 Virtual Desktop Enhancer without a

[2017-06-18 16:17] sdias commented on #16
@GioBonvi What I understood from @epikgit 's request was that if you navigated onto a desktop that didn't yet exist (like pressing the keyboard shortcut to go to desktop X or the next desktop) it would be created on-the-fly.

[2017-06-21 01:48] Lomacar opened #59 "Changing settings does not work"
I have tried changing settings in the ini for keyboard shortcuts, tooltips, taskbar scrolling, desktop names, and wallpapers. The only settings that have any effect are the wallpapers.

[2017-06-21 07:38] GioBonvi commented on #59
Hello @Lomacar,
Thank you for reporting this.

Have you restarted the program or reloaded the settings (right click on the tray icon -> reload settings) after changing the `settings.ini` file?

Are you sure you have downloaded a single copy of the program and are not editing the `settings.ini` file in another directory?

[2017-06-21 11:40] achim-t opened #60 "Rename virtual desktops at run time"
I would like to rename a Virtual Desktop at run time, persisting those names is not necessary for me.

[2017-06-21 11:48] GioBonvi commented on #60
Hello @achim-t

I am sorry, but I don't think I understand what you are asking. Do you want to rename a desktop in the task view (as in #55)? If this is what you want then I'm sorry to inform you that, as stated in that issue this is not possible.
Otherwise, if you want to change the desktop names shown in the pop-ups please refer to the [documentation](https://sdias.github.io/win-10-virtual-deskt

[2017-06-21 11:57] achim-t commented on #60
I want to change the names shown in the pop-ups, but I don't want to use the same names every time.

[2017-06-21 12:00] GioBonvi commented on #60
Ok, thank you for the clarification, now I understand: this is not a supported feature, but maybe there is something I can do.

According to what do you want the names to change?

[2017-06-21 12:22] achim-t commented on #60
I want to change it according to the task at hand.

I was imagining a shortcut like CTRL+WIN+F2 that opens up a prompt where I can enter a name like "Heavy Browsing" or "Work for Client X".

[2017-06-21 12:50] GioBonvi commented on #60
Ok, so you want to be able to manually change desktop names "on the run". I think this could definitely be a nice addition.

In fact I was thinking of something similar the other day, however in the next weeks I won't be able to dedicate time to this project at all.
I'll notify you on this issue about any news and updates.

[2017-06-21 13:41] achim-t commented on #60
Thanks.

[2017-06-22 00:21] Lomacar commented on #59
Yes, I was restarting the program. There is no "reload settings" option in the tray icon menu. I made sure I was editing the right settings.ini. I initially ran it from my downloads folder, and edited the wallpapers there. Then copied it to a permanent location and deleted the copy in the downloads folder.

[2017-06-22 07:49] GioBonvi commented on #59
Ok, there is something strange going on here...

First of all you should be seeing this menu when right clicking on the tray menu icon of the program: it has been there since release [beta 0.8](https://github.com/sdias/win-10-virtual-desktop-enhancer/releases/tag/0.8) and there is really no reason for it not to be there in your system.
![image](https://user-images.githubusercontent.com/13332562/27

[2017-06-26 12:46] achim-t opened #61 "Taskbar scrolling should work on secondary taskbar as well"
The secondary taskbar has a different ahk_class: `Shell_SecondaryTrayWnd` instead of `Shell_TrayWnd`.

[2017-06-26 16:43] sdias commented on #61
Agreed, fixing it.

[2017-06-26 16:44] sdias commented on #61
Done: https://github.com/sdias/win-10-virtual-desktop-enhancer/releases/tag/0.10.5.

[2017-06-26 16:44] #61 closed

[2017-06-27 09:04] GioBonvi opened #62 "Branch origin/master"
@sdias
It looks like there is something wrong with the [branches](https://github.com/sdias/win-10-virtual-desktop-enhancer/branches): last version was released on a new branch called `origin/master` instead of `master`.

[2017-06-27 11:51] sdias commented on #62
I probably messed it up. I'll look into it when I get home.

On 27 Jun 2017 10:04, "Giorgio Bonvicini" <notifications@github.com> wrote:

[2017-06-27 16:05] sdias commented on #62
`master` now has all of the changes, and I deleted all of the other branches, except for `toggle-last-desktop`, which still has your unpublished changes for that feature.

[2017-06-27 16:05] #62 closed

[2017-06-28 21:09] nuteguy opened #63 "Can't get anything to work"
I installed the latest version of the program, extracted it to a folder on my desktop, and ran it as an admin. When I run the program all that shows up on my tray is a little green H for autohotkey. No shortcuts work; windows or the ones found in the settings file. I can't change my desktop wallpapers or rename the desktops. The only thing that does work is win+tab and Lalt+SC029. I'll gladly answ

[2017-06-28 21:34] GioBonvi commented on #63
Hello, @nuteguy, thank you for writing in and sorry for the troubles you are experiencing.

As you can read [here](https://github.com/sdias/win-10-virtual-desktop-enhancer/blob/master/docs/known-issues.md#programs-run-as-another-user) it is known that Windows 10 Virtual Desktop Enhacner has a _troublesome relationship_ with the "run as" command, in particular if you run it as another account (like

[2017-06-28 21:37] nuteguy commented on #63
I tried to run it normally since my account has admin privileges but it still didn't work so I also tried to run it as an admin with no luck. My bad on not being clear.

[2017-06-28 21:52] GioBonvi commented on #63
So you tried running it via double click and it did not work with displaying the symptoms described in your first post, then you tried running it as administrator and nothing changed, right?

Does your system match the requirements? (Windows 10 64 bit with Creators Update installed)?

Secondly (this might sound silly, but it's better to be safe than sorry) are you sure you have more than one virtu

[2017-06-28 21:55] nuteguy commented on #63
Correct. How can I check if I have the Creators Update installed? and yeah I have three desktops haha.

[2017-06-28 22:11] GioBonvi commented on #63
To identify your current Windows version use the Windows key + R keyboard shortcut to open the Run command.
Type ‘winver’ in the box.
Click OK.
If the version is 1608 or greater you have the Anniversary Update installed and if it also greater or equal to 1703 you have the Creator Update as well.

Have you already tried installing [this component](https://www.microsoft.com/en-us/download/details.as

[2017-06-28 22:19] nuteguy commented on #63
I have version 1703. I haven't tried that yet but will right now.

[2017-06-28 22:23] GioBonvi commented on #63
This pretty much exhausted all the easy options.if the additional component will not fix the issue I will mark this as a bug and tomorrow will proceed with some extra-intense debugging ;-)

[2017-06-28 22:26] nuteguy commented on #63
That did the trick! Thank you so much. I'm not sure how I missed that in my reading of the install instructions.

[2017-06-28 22:29] GioBonvi commented on #63
That's great!

Marking the issue as solved.

[2017-06-28 22:29] #63 closed

[2017-06-29 04:32] nuteguy opened #64 "_Focus() function causes full screen pages to exit by sending Alt + Esc key combo"
When watching a youtube video in full screen and switching to another desktop and back, fullscreen exits. Just an observation. If I had to guess it has to do with the custom wallpaper which needs to update but I don't know that for sure.

[2017-06-29 10:14] GioBonvi commented on #64
Actaullay it looks it all boils down to [line 547 of the AHK script](https://github.com/sdias/win-10-virtual-desktop-enhancer/blob/master/virtual-desktop-enhancer.ahk#L547).
[code]

[code]

This makes sense as the `Esc` key is used to exit from full screen in many applications and Youtube is one of them.
If that line is removed full screen stays open after a desktop switch, however the task bar re

[2017-06-29 16:29] sdias commented on #64
@nuteguy @GioBonvi That's pretty much it Gio, good work. That line of code is there to make sure you focus on the last active window of that desktop, because (I think?) nothing will be focused otherwise, but I can't remember exactly how necessary it is, and there are probably better ways of handling that. For now, I suggest to anyone interested to try to comment out the contents of the '_Focus()'

[2017-06-30 08:24] GioBonvi commented on #60
I finally found some time to think about this: I ditched my previous idea about a more complex and complete system in favor of a simpler approach. Hope this helps.

Will let you know if this is merged into master.

[2017-06-30 08:28] GioBonvi commented on #59
Hello @Lomacar,

sorry to bother you: are you still experiencing this issue?

[2017-07-01 12:23] #60 closed

[2017-07-01 12:24] GioBonvi commented on #60
Hello, @achim-t

your suggestion has been implemented in the last version of the program: the release for it should be published really soon.

[2017-07-01 12:48] sdias opened #68 "Feedback needed: favorite desktops"
Would anyone be interested in being able to define desktops as favorite, and then be able to switch between favorite desktops quickly?

[2017-07-01 13:48] GioBonvi commented on #64
Solved in the [latest release](https://github.com/sdias/win-10-virtual-desktop-enhancer/releases/tag/0.11.0).

Thank you @nuteguy for the bug report.

[2017-07-01 13:48] #64 closed

[2017-07-03 06:31] achim-t commented on #60
Thank you, great work.

[2017-07-03 06:31] achim-t commented on #61
Thanks a lot.

[2017-07-03 07:42] achim-t commented on #60
A small issue (should I create a new Issue?):

After renaming, the Tray Tooltip still shows the old name for the moment.

[2017-07-04 21:17] GioBonvi commented on #60
Thank you for noticing and rerporting this: I will fix this the next time I will work on this project.

[2017-07-11 10:25] GioBonvi commented on #60
FIxed and published in the new release.

Thank you again @achim-t.

[2017-07-17 05:57] janus0 opened #73 "Launch multiple programs on desktop entry/exit?"
Is there a way I could set this up so that I could launch my notes and a web browser for instance when switching to desktop n? Thanks!

[2017-07-17 06:12] janus0 commented on #73
Nm, I figured out that I can simply point virtual desktop enhancer to a batch file that launches multiple programs.

[2017-07-17 06:12] #73 closed

[2017-07-17 06:17] GioBonvi commented on #73
You could also separate multiple commands with `&` like in `calc.exe & notepad.exe`.

[2017-07-17 17:20] GreenGlassDragon opened #74 "Flagged by Symantec as Strong Evidence Untrustworthy"
I extracted the files to my computer and this was flagged as strong evidence that the application was untrustworthy based on reputation.

http://securityresponse.symantec.com/security_response/writeup.jsp?docid=2010-051308-1854-99&vid=4294919973

[2017-07-17 17:38] GioBonvi commented on #74
Hi @GreenGlassDragon

If you are just reporting this then thank you: I had a similar problem with Windows 10 opneing a pop up on the first execution warning me that the app was unsigned or something like that, I cannot remember it perfectly.
I guess it has to do with the fact that it interacts at a pretty dangerous level with the OS (intercepting and sending keystrokes, running programs, adding ke

[2017-07-18 19:55] janus0 opened #75 "Not working when run via task scheduler"
The program won't switch desktops or do anything else when I run this script via task scheduler with highest privileges. However, when I manually right click and do run as administrator, it works just fine. Thoughts?

[2017-07-18 21:09] GioBonvi commented on #75
Hi @janus0!
Thank you for reporting this.

I don't have time to thoroughly test this right now (will have in the next days); here is what I rapidly observed on my computer:

- if you follow [these instructions](https://github.com/sdias/win-10-virtual-desktop-enhancer/blob/master/docs/installation.md#procedure-2-task-scheduler) to the letter Windows will automatically check "Do not run when running

[2017-07-20 13:08] vtns opened #76 "[Feature Request] Automatically set default background when shutdown/restart/logoff"
Hi
I'm using different image for background of desktops.
ex.  image1 for desktop#1, image2 for desktop#2.

Problem.
When I do shutdown at desktop#2, next time Windows will start with image2 as desktop background.
Although virtual-desktop-enhancer automatically set the image1 for backgound shortly after,
It would be better if Windows starts with default desktop's background.

How abount setting reg

[2017-07-20 13:21] GioBonvi commented on #76
Hi @vtns

By "default desktop wallpaper" do you mean restoring the wallpaper of the desktop which is marked as default in the configuration or the wallpaper which was set before starting the program.

Thank you for the suggestion!

[2017-07-20 14:05] vtns commented on #76
Hi
"the desktop which is marked as default in the configuration"
This is exactly what I had in my mind.

I meant former.
In other word, the wallpaper of the

[2017-07-20 14:07] vtns commented on #76
"the desktop which is marked as default in the configuration"
It is exactly what I had in my mind.

[2017-07-21 15:11] GioBonvi commented on #76
I've tried toying around with some ideas, but failed miserably 😢

- First attempt:

[code]

- Second attempt:

[code]

The result was the same in both cases: when restarting/logging-in the desktop wallpaper is set to black regardless of the contents of `settings.ini`.
Once the program is loaded it gets updated to the default desktop as usual.

I'll try something else if I get any other idea: curre

[2017-07-21 18:04] vtns commented on #76
It seems that GeneralDefaultDesktop becomes empty at that point.
I've tested your code with _ChangeBackground(1) and it works fine - I see background for
Desktop#1 after restarting windows or logoff/logon, regardless of which desktop I were use.

[2017-07-22 21:00] GioBonvi commented on #76
After some more tests the situation looks even more complex:

1. As @vtns said the `GeneralDefaultDesktop` variable has some problem when being called during shutdown: I have not yet tested whether it becomes empty (it shouldn't as it's not modified anywhere in the code) or if something more complicated is happening, but using it causes a black wallpaper to be set.
2. Replacing `GeneralDefaultDesk

[2017-07-25 00:40] janus0 commented on #75
Is there any plan to fix this? I want to use task scheduler to launch virtual desktop enhancer on startup with administrator privileges without the annoying UAC prompt every time.

[2017-07-25 08:37] GioBonvi commented on #75
I am currently working on this, but from what I can see right now there is little hope to make it work correctly...

May I ask why are you unable to use [the first procedure](https://github.com/sdias/win-10-virtual-desktop-enhancer/blob/master/docs/installation.md#procedure-1-autostart-folder) which seems to work correctly?

Best

[2017-07-25 11:38] Lomacar commented on #59
Hi,

I must have downloaded the switcher from somewhere else. I noticed I didn't have the library folder, so I downloaded the repository, but the repository doesn't have the exe, then I went to the installation instructions and found the link to the "latest version", which I definitely never saw before. But I thought I had the latest version when I reported this bug. Anyway I downloaded the latest

[2017-07-25 11:57] GioBonvi commented on #59
Hello @Lomacar,

while you are waiting for the Creator's Update you can try the [older releases](https://github.com/sdias/win-10-virtual-desktop-enhancer/releases): there will be some bugs and you will miss some of the features introduced later, but the program should work.

If I'm not wrong versions before 0.7 should run fine on a plain Windows 10 install, versions from 0.7 to (approximately) 0.1

[2017-07-25 14:19] janus0 commented on #75
To my knowledge, the first procedure won't auto-start virtual desktop enhancer in administrator mode without me having to press "yes" on a UAC prompt every time I start my computer up. I need to run VDE in administrator mode because otherwise it won't switch desktops when I have a window focused which has admin privileges. Minor things, but it's what makes me current setup seamless and it's nice t

[2017-07-26 22:04] GioBonvi commented on #75
I see... Still no progress for me: reading some sources on the Internet it looks like it's not Autohotkey's problem, but something related to the code... I'll do my best to zero in on the problem.

At the moment I suspect this is strictly related to #21 and solving it would solve this.

[2017-07-27 07:54] vtns commented on #76
I'm not familiar with auto hot key, but It seems that some of ahk functionality may not work correctly while Windows is shutting down.

I, however, am almost satisfied with this little change since I 'm using black background for default desktop (desktop#1)  :-)

[2017-07-27 19:46] Denyerec commented on #20
Any way of working this in?

`; Hide desktop icons
#Z::

ControlGet, HWND, Hwnd,, SysListView321, ahk_class Progman
If HWND =
ControlGet, HWND, Hwnd,, SysListView321, ahk_class WorkerW
If DllCall("IsWindowVisible", UInt, HWND)
WinHide, ahk_id %HWND%
Else
WinShow, ahk_id %HWND%

Return
`

[2017-08-08 14:27] Sirove opened #77 "VDesk functionality"
Will it be able to replace [VDesk](https://github.com/eksime/VDesk) in the near future?

[2017-08-09 08:55] hristod opened #78 "Start menu popping up when using WIN button as shortcut"
I am using the windows button as a modifier (WIN+1 shows desktop 1, WIN+2 shows desktop 2, etc). Some times when I switch to a desktop (not a specific one, happens to any), the start menu pops up, just like I've only pressed the WIN button with no combination. In my opinion, this shouldn't happen...

[2017-08-18 08:16] MitjaBezensek commented on #21
I have an admin account with UAC turned on. But for me, there is a difference. If I run it without administrator privileges then I have to click on the desktop in order for the keyboard shortcuts to work (so I click desktop then press Alt + 2 to go to the second desktop, then click the desktop and press Alt+1 to go back to the first one). If I don't click on the desktop then nothing happens. But i

[2017-08-19 06:24] dracan commented on #35
I'm with @ariofrio. I've just started using this as I really wanted a hotkey to be able to move windows (as he said - great job!). I don't use or need different wallpaper, but do really miss the scroll animation. It's a shame that the multi-wallpaper functionality that perhaps a lot of people don't even use, is preventing the native animation from working.

[2017-08-19 06:47] dracan commented on #35
Actually, I've just noticed the `UseNativePrevNextDesktopSwitchingIfConflicting` setting. This brings back the scroll, and I can still use the *move window to desktop* shortcuts! Perfect! 🎉

[2017-09-12 08:55] starise commented on #75
The problem should be caused by the fact that the tool needs to be launched from its working directory. When you create a shorcut (Procedure 1), Windows automatically fills the `Start in` directory (viewable into "properties > shortcut" tab).

On the other hand, when creating a scheduled task, you need to manually enter that directory filling the `Start in (optional):` box. It's working to me..

!

[2017-09-12 13:44] GioBonvi commented on #75
@starise

You got it! I never noticed that option because in italian it has been horribly translated to "Inizio" (Which means "start", but definitely not "start in"...).

I'll update the documentation accordingly as soon as I can.

Thank you!

PS: @janus0 if you could confirm that this solves your problem this issue can be closed.

[2017-09-12 18:48] GitUT opened #79 "[Feature request] Visible desktop names when changing desktops AND wallpaper changing with multiple monitors"
Is it possible to have the user given names for virtual desktops visible when changing desktops?
Is it possible to have different default wallpapers for my different monitors?

Here is an imgur example from my PC. https://imgur.com/d0dgrJN
The wallpaper changed for both monitors and red circles is where it says just Desktop1, Desktop2, etc.

[2017-09-19 17:05] Elviseras commented on #38
Hi, first of all, congratulate you on this extraordinary app. It's a lot of day-to-day help for those who work with multiple virtual desktops in Windows 10

As a suggestion, it might be possible to integrate Win10 VDE with the exsime vdesk development (https://github.com/eksime/VDesk), another fantastic app which allows by command line to open a program or document on the chosen desktop in Windows

[2017-10-01 16:11] ascii78 opened #80 "[Request] Single key desktop switching"
It would be nice to directly switch to a desktop with one key, I've used F1-F4 keys in the past, is this possible ?

[2017-10-03 10:13] improwise opened #81 "Having names of desktops instead of numbers in taskbar"
First of, great "application"!

Is it possible to change so that the name of the desktop is displayed in the taskbar instead of the number? I'm guessing it should be a small code change if not possible today, as the functionality to get it to display in the task bar should be the main work.

[2017-10-12 07:16] GioBonvi commented on #78
Hey, sorry for the delay: I have been following another project and left this one a little bit behind.

I did not experience this specific bug, but had many similar problems when using the Win key as a modifier, especially when a compinations of keys overlaps with a default Windows key combo (e.g. Win + Arrow keys already is "switch desktop", Win + number is "minimize/maximize the nth program in t

[2017-10-12 07:24] GioBonvi commented on #79
Hi @GitUT,

First of all let me apologize for taking so much time to come back at you on this issue.

This was already asked in #55 and, as you can see, Windows does not let you edit these names (as for now)

This was asked in #12.

I am closing this issue as it is a duplicate of the two aforementioned issues. Please follow them to receive any update on the matter,

Thank you for your patience.

[2017-10-12 07:24] #79 closed

[2017-10-12 07:31] GioBonvi commented on #12
Hi,

I have looked into this and I am sorry to say that without any external program there seems no easy way to make this work.

The most feasible way to go right now is for you to build custom multi-monitor wallpapers (as explained [here](http://smallbusiness.chron.com/make-background-images-fit-dual-screen-46960.html)) and use them. This would let you use a set of wallpapers (one for each monito

[2017-10-12 07:39] GioBonvi commented on #77
Hi @Sirove

I am not the maintainer of this project (that would be @sdias) so I cannot determine in which direction will it evolve, but by rapidly looking at the link you provided I think the main target of the two projects is quite different.

VDesk seems to focus on providing a way to programmatically execute (via text-line commands) various tasks related to virtual desktops, while this project

[2017-10-12 07:43] GioBonvi commented on #81
Hello @improwise, sorry for making you wait.

Could you please clarify your request?

Do you mean displaying the name instead of the number in the icon in the taskbar?
If that is what you are asking for I am sorry, but this would be nearly impossible as it would require building an icon for each name and still the name would be unreadable in such a small space.

[2017-10-12 07:50] GioBonvi commented on #80
Hello @ascii78,

what you are asking for is not possible at the moment (version beta 0.11.1) and I don't know if it would be feasible to implement it in any future version (it would probably require some heavy work to be done in the settings configuration, which would cause trouble when updating from an old version).
Maybe @sdias could give you some more details on this.

[2017-10-23 09:16] alaincoste opened #83 "notification icon not following desktop switching"
OS : Windows 10 creator (1703)
settings :
[General]
DefaultDesktop=1
TaskbarScrollSwitching=1
UseNativePrevNextDesktopSwitchingIfConflicting=0
DesktopWrapping=0
[Tooltips]
Enabled=0

Take the situation : Desktop 4 is displayed, the notification icon shows 4, the mouse pointer is on the taskbar; quickly rotate the mouse wheel upwards : the display switches to Desktop 1 (Wrapping=0), but the notific

[2017-10-31 09:50] Milad-jfr opened #84 "No exe in zip file"
why there is no exe file in zip file ? how we can run this app ?

[2017-10-31 10:08] GioBonvi commented on #84
Hello @Milad-jfr

You probably have downloaded the source code instead of the release.
Please make sure to follow the [installation instructions](https://github.com/sdias/win-10-virtual-desktop-enhancer/blob/master/docs/installation.md) and download [the correct zip file](https://github.com/sdias/win-10-virtual-desktop-enhancer/releases/latest)

Let me know if you experience any further problem.

[2017-11-03 18:53] refeaime opened #85 "Switch on Alt N"
Hello,
HUGE thanks for this script. I am old DWM user on linux system and wondering, how properly set same tag\virtual_desktop in windows by pressing ALT+N, where N is number line.
What in that case [KeyboardShortcutsCombinations] section would looks like?
Thank you.

[2017-11-16 07:25] meffect commented on #19
I came here, to this wonderful project, with extreme excitement at the feature request that popped in my head. To my delight, someone already created that a ticket for that very idea. This feature would blow my mind. I have sooo many great wallpapers that I find myself wanting to add tons of virtual desktops i'll never use, just to be able to see my preciouses. Developer gods, please add this feat

[2017-11-16 13:05] dobin commented on #85
[code]

[2017-11-28 16:56] lord-ne opened #86 "Tray Icon Disappearing"
I've been having an issue where the tray icon disappears whenever I hit the "show hidden items" button on the taskbar (the one that looks like a " ^ " ). When I tried to get the icon back by dragging it onto the taskbar, it shows the icons of *all* the AHK scripts I have running, which is like 20.

[2017-12-02 21:06] alexjp opened #87 "Add Winkey+MouseWheel to change workspaces"
Hi,

Thanks for the wonderfull script. I had a very simple hotkey and mouse based script to change workspaces, but yours is much much better.

I would just ask, could you add WinKey + Mouse Wheel up and down to switch workspaces ? I am kinda used to this workflow.

Currently I added:
[code]
to your script and its working as intended.

Thanks !

[2017-12-02 21:13] alexjp opened #88 "Favorite Apps in one Desktop"
Hi,

Thanks for the great script.

Would it be possible to define 4 or 5 favorite apps per workspace ? I usually don't want to "autorun" apps when switching, but i have 2 or 3 favorite apps for each workspace.

Example:
Web workspace, favorite apps: firefox, chrome, edge
Chat: Skype, Hangouts
Media: Mediaplayer, VLC, Smplayer,

etc...

Favorite apps could be triggered to be run or activated by Win

[2017-12-02 21:28] alexjp commented on #87
added this funtionality also:
[code]

[2017-12-05 04:27] arielvieira commented on #87
alexjp , How can i make this work on my script ?

[2017-12-05 08:49] alexjp commented on #87
put on the ahk script, I inserted it after the Event Handlers comment.

[code]

[2017-12-05 08:54] alexjp opened #89 "Allow to run program with parameters"
Hi,

Currently i had to disable the RunProgram check, so that I can run comand lines with parameters:

[code]

This is so that i can do something like this, which works very very well:

[code]

Which will show a different rainmeter configuration for each workspace.

Thanks!

[2017-12-05 10:06] povilaspanavas commented on #87
That's awesome, @alexjp ! The only thing I've changed was that your mouse actions are inverted, so I switched "Left" with "Right" and they are correct now (wheel up, goes to a higher number, down - to lower number).

Thank you for this awesome addition.

Here is your reward for making the world a better place:
![super cute panda](https://user-images.githubusercontent.com/4881620/33601332-d1b8ff82-

[2017-12-06 18:14] RobNO97 commented on #88
Would be great! I also want a "several" feature but to be able to put 2 wallpapers per desktop (because I have 2 monitors and like to have a different on each monitor)

[2017-12-06 18:18] RobNO97 opened #90 "Dual screen: different wallpaper per monitor"
Hi, I use to have a different wallpaper on each monitor (I have 2). So it would be nice to be able using 2 wallpapers for each virtual desktop. Maybe there is already a way to put 2 picture path in the same "desktop" in the settings.ini file but I can't get it to work.
Dexpot do it, but I don't like the way it's not integrated  in windows 10. It just create virtual dektops on a windows virtual des

[2017-12-11 15:58] kkuhle commented on #35
@dracan Thanks for pointing this out!  Came here looking for an answer to this

[2017-12-14 17:33] lord-ne commented on #86
I've somewhat solved the issue. I changed the file extension to .ahkALT, and made a copy of Autohotkey called AutohotkeyALT. I then set .ahkALT files to run with AutohotkeyALT. Since it is running with a different program, I can make its icon visible without making all of my AHK icons visible.

[2017-12-14 17:53] lord-ne commented on #80
Insert this code anywhere in the script:

F1::
  SwitchToDesktop(1)
Return

[2017-12-14 22:32] povilaspanavas commented on #86
Another solution is to compile it into exe (or use an existing exe which comes with it). Since it will be a different application, you will be able to add it to systray without adding other ahk files.

[2017-12-15 04:27] engwan opened #91 "Switching to Desktop 10 doesn't work"
For some reason, I cant switch to Desktop 10 using the Modifier + 0 hotkey.

Currently I'm using Alt as modifier, but I also tried using Win.

Switching to desktops 1 to 9 are fine. Also switching to desktop 10 using the prev / next hotkeys work fine. Only the switch directly to desktop 10 hotkey doesn't work.

Anything I'm missing?

[2017-12-15 12:42] cpgw opened #92 "Feature request - uncouple SwitchDesktop shortcuts"
Hi,

first thanks for the helpful tool.
A change I would like to see is to be able to use different shortcuts for `Desktopn (n=1...)` and `PreviousDesktop`/`NextDesktop`.
The Modifier for `SwitchDesktop` is applied to all.

To make my point clearer:
I'm trying to switch to a numbered desktop with `Ctrl+Fn (n=1..4)` but would like to use `Ctrl+Alt+RightArrow` to go the next desktop.
I tried to use

[2017-12-27 13:44] RobNO97 commented on #12
the bad thing with "custom multi-monitor wallpapers" is that when you unplug your second monitor, you get 2 half wallpapers with the line in the middle of you screen

[2018-01-03 05:19] Callindril opened #93 "Error: Can't load icon."
On a fresh install of both Windows 10, and the Virtual desktop enhancer, whenever it loads, or I reload the settings, a small box pops up with the following text:

virtual-desktop-enhancer.exe

Error: Can't load icon.

Specifically: icons/+.ico

Line # 521: Menu,Tray,Icon,icons/+ico

The current thread will exit.

and then an OK button, which when pressed kills the process...

[2018-01-12 18:46] MrLightningTV opened #94 "Feature request: different set of desktop icons per desktop"
Not sure if this is possible, but I feel like virtual desktops could be way more powerfull with the ability for every virtual desktop to have its own set of desktop icons, that also remain when you reboot your system.

Love the enhancement btw. Thanks!

[2018-01-14 10:54] lucidBrot opened #95 "Feature Request: Don't switch to default desktop on program start"
It's just a minor annoyance, but if I'm already on a different desktop when I run the exe, I'd like to stay there for the moment. Would it be possible to e.g. modify the settings so that it stays on the current desktop if DefaultDesktop were set to -1 ?

[2018-01-16 21:31] keluecke opened #96 "Feature Request: Keep one moniter constant multiple moniters"
Love the application, thank you for your work!

 One feature I miss from Linux is the ability to keep one of my monitors constant for things like controlling music or a conversation.  Could also be accomplished with an option to make programs as move with me whenever I change desktops (either through listing them or through marking the currently selected app as carry along with a hotkey).

[2018-01-16 21:34] keluecke commented on #75
I had this problem and solved it by creating and running this cmd script:

CD /d %~dp0
start virtual-desktop-enhancer.exe

[2018-01-30 05:30] zezont4 opened #97 "bug : on fast mouse wheel from workspace 1 to workspace 3 , try icon show 2"
On fast mouse wheel from workspace 1 to workspace 3 , the try icon show 2
It should show 3
Thank you

[2018-01-31 19:15] sdias commented on #96
Hi, thanks.
Keeping the all of the apps in a monitor pinned across desktops is not supported, but you can pin an app or the window of an app already. Please see the guide here: https://github.com/sdias/win-10-virtual-desktop-enhancer/blob/master/docs/settings.md#keyboard-shortcuts-identifier-keys

[2018-01-31 19:15] #96 closed

[2018-01-31 19:20] sdias commented on #93
Please make sure you have installed the latest release and followed the troubleshooting guide.

[2018-01-31 19:25] sdias commented on #90
Duplicate of #12

[2018-01-31 19:25] #90 closed

[2018-01-31 19:28] sdias commented on #88
I would actually love for this to be a thing, but I'd have to introduce an entire system to track and move windows across desktops. I might do it someday.

[2018-01-31 19:30] #85 closed

[2018-01-31 19:30] sdias commented on #85
Dobin's right, that config should work. Please have a look at the Customization part of the README.

[2018-01-31 19:31] #84 closed

[2018-01-31 19:32] sdias commented on #94
Duplicate of #20

[2018-01-31 19:32] #94 closed

[2018-02-01 10:48] dobin commented on #85
It has some drawbacks, e.g. Alt-Left in Word, or Explorer, will be broken.

[2018-02-01 22:28] ericnewton76 commented on #92
@cpgw could not the standard Windows Virtual Desktop hotkey work?  Ctrl+Win+Left/Right?

[2018-02-01 23:13] cpgw commented on #92
@ericnewton76 thanks for the suggestion, that might be a better solution than my current configuration, but in the end I would like to have the shortcuts as described. Yes, there might be more troubling things in the world but I grew accustomed to my shortcuts...

[2018-02-08 23:28] Hilderbeard opened #98 "virtual desktop enhancer hangs"
I like your product, but I find after a while it hangs and I can no longer switch desktops. I have to exit your app and run VirtualDesktopManager.exe which does not seem to hang, but I don't like as well. I have Win 10 1607 Enterprise. I have two 4K monitors and 4 virtual desktops. NVIDIA Quadro K620 video card. virtual-desktop-enhancer file says version 1.1.25.2, dated 7/11/2017.

I've tried exit

[2018-02-11 09:48] ChangeHow opened #99 "lost transition animation"
i'm look forward to add native transition animation during switching desktop.

[2018-02-15 16:12] Trinition commented on #93
I've just encountered this on my first try as well (fresh Windows 10 Home x64, fresh install of virtual-desktop-enhancer.exe, first run: same error dialog).

Where is the "trouble shooting" guide?  My searches aren't finding it.

[2018-02-15 16:25] Trinition commented on #93
OK, I figured this out.  TL;DR: you need _everything_ in the zip, not just the *.exe.

When I saw the zip's contents, I thought it was the whole github project contents (I didn't look closely).  When I read the [Installation Instructions](https://github.com/sdias/win-10-virtual-desktop-enhancer/blob/master/docs/installation.md) and they said "...you can run it just by executing virtual-desktop-enh

[2018-02-20 11:42] axelbsa commented on #92
+1

Comming from linux / gnome2 and ctrl + alt + arrow is second nature and muscle memory. Would very much like this as well. Thanks for this helpful tool.

[2018-03-14 20:14] gerrat opened #100 "Minimized always-on-top applications are restored when switching desktops"
After minimizing an application that is configured to be "always-on-top", and switch desktops, switching back "restores" this application.

It would be helpful if it would stay minimized until it is explicitly restored.

[2018-03-15 15:51] improwise opened #101 "Problems with latest Windows 10?"
Am I the only one that have noticed that Virtual Desktop Enhancer seems to hang a lot more ofte the last maybe 1-2 months forcing me to do a "Reload settings" a few times a day? If not, it is probably a local problem at my end. I also noticed that Windows "windows arranging" with windowskey and arrors seem to have more problems after last Windows updates.

[2018-03-15 16:52] improwise commented on #101
Have tried this more and it is definately latest version of Visual Studio 2017 (15.6.1) that cause these problems. With any such window active/focused, neither the keys to switch desktop nor scrolling in the taskbar (not sure if this is a standard Windows feature) works. Can remember having the same problems before with Visual Studio though.

[2018-03-17 07:38] M3Rocket commented on #91
I am experiencing the same bug. 1-9 works. 0 opens up the 10th item that is pinned on the taskbar (that is with the standard Alt-Win-Num combo).

[2018-03-21 09:22] thienmint commented on #100
What do you mean by "always-on-top"? Do you mean pinned on all desktop? I can't replicate that behavior.

[2018-03-21 13:29] gerrat commented on #100
Not pinned on all desktops, my issue is an app using a window with this attribute: [wxSTAY_ON_TOP](http://docs.wxwidgets.org/2.8.8/wx_wxframe.html#wxframe).  If the app is minimized, switching desktops away, then back to it restores it (instead of leaving it minimized).

An example Python app (needs [the wxPython GUI library](https://www.wxpython.org/)) exhibiting this behaviour would be:

    imp

[2018-03-22 12:14] improwise commented on #101
I've noticed when this happens that the Ctrl-WinKey-arrowkeys always work, even when keys like Ctrl-WinKey-1...9 does not. So I guess it is the AutoHotKey that needs updating.

[2018-03-27 08:46] jtbrown3 commented on #98
This really an awesome app/script, BUT I'm also experiencing this hanging issue. I'm using a single 4K monitor on Windows 10 RS3 (64-bit).  After an indeterminate amount of time, the hotkeys become unresponsive and the only way to get things going is to 'Reload' the script.  Is there any way to determine/ debug what might be happening here?   Frustrating!!!

[2018-03-27 11:13] InternetJohnny opened #102 "Tooltip real lifespan is less than chosen"
If I set the <**Lifespan**> value on _settings.ini_ to be 300ms, for example, it shows up for the 300ms when reloading the settings (because it is not switching desktop), or displaying a 'pinned window' tooltip. When switching desktops, however, it doesn't appear at all.
I believe this behavior occurs because the lifespan value starts being recorded when a command is executed, and not when the too

[2018-03-27 11:24] InternetJohnny opened #103 "Feature Request: alpha transparency to hex color values"
Pretty small detail, but it would be nice to be able to add transparency to <**BackgroundColor**> to give the tooltips that extra touch of beauty.

Great work on this project by the way 👌

ps: i didnt want to create a new issue just for this, but the tooltips also have a bit of empty space on the bottom and right hand side, is there any way that you could center the text in the tooltip area?
https

[2018-03-27 12:37] improwise commented on #101
I've noticed when this happens that the Ctrl-WinKey-arrowkeys always work, even when keys like Ctrl-WinKey-1...9 does not. So I guess it is the AutoHotKey that needs updating.

[2018-03-29 19:33] thehoppster opened #104 "Taskbar Scrolling Not Using Native Windows Transitions"
When using the taskbar scrolling feature, the native windows transitions are not present. They are present when using Ctrl + Windows Key + ( Left or Right Arrow) because I have my "UseNativePrevNextDesktopSwitchingIfConflicting" set to true. Is there any way to use the windows native desktop transitions while using the taskbar scrolling feature? I enjoy the scrolling taskbar greatly and the nice d

[2018-03-31 12:53] GioBonvi commented on #104
Unfortunately there is no easy way to accomplish what you are asking: the only reasn that lets us have the transition with the `UseNativePrevNextDesktopSwitchingIfConflicting` is that when `Ctrl + Windows Key + (Left or Right Arrow)` is detected and that setting in active the keypress event is not intercepted by the script, but it's allowed to reach Windows directly (and since Windows is doing the

[2018-04-06 14:45] buzzer8 opened #105 "Design error in shortcuts and handler"
First of all, i'm very new to autohotkey code, its my first time to look at this kinda code. Thank you for that nice script, Its exact what i'm looking for. But you have a design error at hotkey and hotkeyhandlingi think. I'm not able to have a hotkey like Home or PgDn for switching directly to the desired screen. This is, i think so after looking to your code, because you get the number of the sc

[2018-04-11 15:56] naefl opened #106 "Not working in Insider Preview Build 17639 with Sets"
Moving windows is not working anymore with the shortcuts since build 17600, which introduced sets, for the skip ahead builds of windows 10. Potentially you ran into trouble with the "Sets" feature? Still working in RS4 Preview builds

[2018-04-19 09:38] msevcenko opened #107 "Use custom desktop names in Task View"
This is good tool to organize work when working on many projects in parallel.

It would be much more helpful if you could switch to correct task from the Task View (shown after pressing Win-Tab). This view, however, displays default generic desktop names (Desktop 1, Desktop 2), which is not very helpful.

[2018-04-19 09:48] GioBonvi commented on #107
Hi @msevcenko,
Windows does not actually let you rename the desktops the way you are asking for: the names you can assign in the script are only used by the script itself (in the popups and in the hover text).

You might want to follow #55 to stay updated on this.

Closing this as it is a duplicate of #55.

[2018-04-19 09:48] #107 closed

[2018-04-19 12:11] msevcenko commented on #107
Hi, ok thanks for the info.

[2018-04-24 09:16] kalj commented on #92
This also causes a problem when using `SwitchDesktop=Win`, since then Win+Left/Right no longer snaps windows to edges of the screen like it normally does. I'd like Ctrl+Win+Left/Right to still switch to previous/next desktop, Win+(n) to switch to desktop n, and Win+Left/Right to snap windows to edges. By decoupling these switch prev/next and switch numerical, I would be able to achieve that.

[2018-05-01 12:54] vanxining opened #108 "Can not backtick "`" as the shortcut for NextDesktop?"
Hi guys, this is an awesome tool!

But how can I use backtick "`" as the shortcut for NextDesktop?

This does not work:
[code]

Thanks!

[2018-05-01 12:57] vanxining commented on #108
Oh, I figured it out:
[code]
Thanks!

[2018-05-01 12:58] #108 closed

[2018-05-05 04:08] mzomparelli commented on #106
In 1803 (17134) update that was just released `IApplicatioinView` was changed. Then again in the pre-release 17600 builds up to 17661 the changes are to 1IApplicationView` and `IApplicationViewCollection`

I have these interfaces partially documented and working. I would like help with the unknown procedures.

https://github.com/mzomparelli/zVirtualDesktop/issues/186

Also, there is this request t

[2018-05-12 00:41] mzomparelli commented on #106
I have working interfaces for builds 17134, 17761, and 17666 at the following link. There are unknown procedures so if you guys figure out what they do then please let me know.

The only interfaces that are changing in these builds are `IApplicationView` and `IApplicationViewCollection`. All other interfaces needed for virtual desktops are unchanged at this time.

https://github.com/mzomparelli/zV

[2018-05-18 22:42] tqhao94 opened #109 "No difference in option UseNativePrevNextDesktopSwitchingIfConflicting"
Hello,
I change the option UseNativePrevNextDesktopSwitchingIfConflicting to 1 and 0 but I can't see any differences.
I read the doc but don't really well understand.
Can you explain the impact of it a little more detail please ?
Thank you.

[2018-05-23 03:49] gmuller2 opened #110 "The TogglePinApp shortcut is not working"
The VD enhancer is working great except for the TogglePinApp function.  I'm using the default keyboard shortcut of "Win, Ctrl, Shift, A".  Pressing this keyboard combination displays the message "App <Window Title herer> pinned", but when I switch to another desktop the supposedly pinned App in not showing.  Repeating the kb shortcut keeps displaying the same message ("App ... pinned") as if the A

[2018-05-23 04:10] gmuller2 opened #111 "Feature Request - Please add a toggle window on top (always on top) option"
Can you please add a toggle option for a window to be always on top?
This feature is found in a number of other virtual desk enhancers/apps such the [Virtual Desk Grid Switcher](https://sourceforge.net/projects/virtual-desktop-grid-switcher/) (Toggle Always on Top) or [zVirtualDesktop](https://github.com/mzomparelli/zVirtualDesktop) (Toggle Foreground Window Top Most option)  or [VirtuaWin](https:

[2018-05-27 15:15] alphamyd opened #112 "Desktop wrapping WITH UseNativePrevNextDesktopSwitchingIfConflicting=1"
Hello!

It's possible to use desktop wrapping with enabled option ’UseNativePrevNextDesktopSwitchingIfConflicting=1’???

I toggle this option, because it toggle on native animation when i change my virtual desktop.

[2018-05-29 07:50] engwan opened #113 "Windows losing focus after upgrading to Windows April 2018 update"
When I switch desktops without clicking on anything, focus is fine. The open application on the desktop gets focused.

But when I switch to desktop 1 for example, and click around. When I go to desktop 2, focus on the open application is lost.

This started happening after I did Windows update.

Anybody have a fix or workaround?

Thanks

[2018-05-31 03:53] martinb3 commented on #57
Hi folks -- just ran into this but I have the game bar disabled already. It seems that Task Manager in Windows 10 Creators Update (Fall 2018) also wants to capture CTRL-ALT-<Left/Right arrow>, specifically if it gains focus while the "Performance" tab is open, and it gets focused during desktop switching. Has anyone seen that or been able to reproduce it?

[2018-06-03 05:58] Quetzaal opened #114 "settings autoreload after explorer reload"
hi...
some difficulties to realod automaticaly the settings after a reload'explorer.exe'batch

i can't find a smart solution, in batch to do it...
all reload with no difficulties except virtual-enhancer...

its the same with task manager kill explorer.exe, start explorer.exe, the seetings are not reloaded automaticaly

thanks a lot for this (amazing) app

[2018-06-08 20:09] potpov opened #115 "autofocus on desktop doesnt work after windows update"
Hi,
after moving to windows 10 version 1803, when i switch to a new desktop the focus remains on the previous one. is there a way to fix this issue?
thanks in advance for any kind of support, i love this app.

[2018-06-09 04:00] xdaimon opened #116 "feature request: add more bindings to switchdesktop"
It would be nice to have LAlt+h/l as a binding for switchdesktop() so that when I'm typing code I can easily switch to my web browser desktop (or w/e) and immediately start typing a search query or something.
As of right now I'm using a simple ahk script to remap LAlt+h and LAlt+l to Win+Ctrl+Left and Win+Ctrl+Right.
The problem with this approach though is that window focus remains on the window

[2018-06-09 11:47] ovsw commented on #115
Confirmed here, have the same issue.

[2018-06-09 17:35] #116 closed

[2018-06-10 07:28] #104 closed

[2018-06-10 07:33] GioBonvi commented on #109
Hello @tqhao94,
enabling that setting will let you keep the "sliding" animation when changing desktops *if* you use the native `Win+Arrow` keyboard shortcut.

[2018-06-11 04:22] gobbedy opened #118 "applying new settings without relaunching"
Fantastic app -- very grateful for it.

I find myself making frequent name changes to my desktops and giving up on the enhancer because applying new settings is too much of a hassle.

Is there a way to apply new settings after modifying settings.ini without having to close the app via task manager and then relaunch it?

If not, a shortcut for applying settings (or worst case, restarting the app) w

[2018-06-11 10:22] GioBonvi commented on #118
Hello @gobbedy,
you can reload the app by right-clicking the icon in the task bar and clicking "reload"

[2018-06-11 13:08] gobbedy commented on #118
Aaah thanks @GioBonvi you've thought of everything. This tool is so awesome.

The icon/reload feature should be mentioned in the wiki!

[2018-06-12 05:12] ovsw commented on #115
Updating virtual-desktop-accessor.dll for Win10 v1803 #117 fixes the issue for me

[2018-06-14 19:25] jmilesb opened #119 "Switch desktop by number - not working"
I've just installed Virtual Desktop Enhancer (0.11.1), and have put in place the "Default configuration" as per the .md file.  The Win+Ctrl+number combinations are not working for me at all.  They appear to move the focus around my VSCode window though.

[code]

- the tray icon is definitely working
- desktop names are working when I switch with Win+Ctrl Left/Right (but they're the standard Window

[2018-06-18 18:31] NN--- opened #120 "Alt+` to switch between windows of same application"
Any option to have Alt+` to switch between windows of same application like AltTabAlternative does ?

https://sourceforge.net/projects/alttabalternative/

[2018-06-20 23:15] anxxx commented on #103
Could I second the request for adding transparency to the background colour or simply the option to turn off the background.  I'd love to have just the desktop number show with no background.

Otherwise as I have said before a fantastic app.

[2018-07-23 09:58] #75 closed

[2018-07-23 10:00] #115 closed

[2018-07-23 10:50] sdias commented on #115
I've published a new release with fixes, let me know if it works for you.
https://github.com/sdias/win-10-virtual-desktop-enhancer/releases/tag/0.11.2

[2018-07-23 10:50] sdias commented on #113
I've published a new release with fixes, let me know if it works for you.
https://github.com/sdias/win-10-virtual-desktop-enhancer/releases/tag/0.11.2

[2018-07-23 10:51] sdias commented on #106
I've published a new release with fixes, let me know if it works for you.
https://github.com/sdias/win-10-virtual-desktop-enhancer/releases/tag/0.11.2

[2018-07-23 10:54] sdias commented on #119
Hi. If that's your entire settings file, you're missing the number hotkey settings. Please re-download the latest release and use the settings on that, which contains those settings, and see if that works for you. Also, make sure you have met all of the prerequisites for the app to work: https://github.com/sdias/win-10-virtual-desktop-enhancer/blob/master/docs/installation.md#prerequisites

[2018-07-23 10:59] sdias commented on #112
This isn't possible at the moment. I'll make a note of it as a future improvement. Thanks.

[2018-07-23 10:59] #112 closed

[2018-07-23 11:00] sdias commented on #120
Not at the moment, but I'll keep it in mind as a future improvement. Thanks.

[2018-07-23 11:00] #120 closed

[2018-07-23 11:01] #118 closed

[2018-07-23 11:03] sdias commented on #114
Hi, thanks for reporting this. It's a bit of an edge case, as most people won't restart the explorer process often, but the app could behave a little bit better when it happens. I've tagged it as a bug so it can get picked up in the future.

[2018-07-23 11:05] sdias commented on #111
This is already available if I understood it correctly. This app just calls it pinning the window/app. Please see: https://github.com/sdias/win-10-virtual-desktop-enhancer/blob/master/docs/settings.md#keyboard-shortcuts-combinations

Let me know if that is not what you wanted.

[2018-07-23 11:05] sdias commented on #110
Can you please try release 0.11.2? It should be working.

[2018-07-23 11:06] #109 closed

[2018-07-23 11:13] sdias commented on #105
Hi. You're absolutely right, it makes no sense as it is... Your suggestion should work fine, yes, but I would like the solution to be a bit more generic. I'll mark it as a bug so it can be picked up later. Thanks.

[2018-07-24 03:38] engwan commented on #113
Thanks, I'll check it out

[2018-07-25 19:44] davidkhuffman opened #121 "Switch to Desktop Shortcuts working for Win-Shift 1 through 9, but when I click Win-Shift 0, it opens the 10th app on my taskbar"
Somehow, Win-Shift is overriding the default Windows behavior of Win 1 opens the first app on the taskbar, etc.

But, when it gets to Win-Shift 0, it reverts to seeing the Win 0, and opens my 10th app.

Very excited about this by the way. I've been using Dexpot, which the latest Win10 broke.

[2018-07-25 19:49] davidkhuffman opened #122 "Desktop Name Popup not working"
I can get it to show up only once - so i think the settings are right - and only after reloading the settings twice in a row.

My hope was that it would show up every time to shortcut to a desktop - e.g., Win-Shift 4, or Win-Shift right.

Here are my settings:

[Tooltips]
Enabled=1
; One of LEFT, CENTER, RIGHT
PositionX=CENTER
; One of TOP, CENTER, BOTTOM
PositionY=CENTER
FontSize=12
FontColor=0xf

[2018-07-26 06:12] engwan commented on #113
I can confirm that this has been fixed with the latest update. Thanks!

[2018-07-26 06:12] #113 closed

[2018-07-27 22:34] davidkhuffman commented on #119
Neither of these are working:
MoveWindowToDesktop=Alt, Shift
MoveWindowAndSwitchToDesktop=

This is working fine - SwitchDesktop=Win, Shift - which makes me think everything is installed ok.

But it may be that I'm running Windows 10 Build 16792.

Any ideas?

[2018-07-30 06:06] engwan commented on #121
I reported this on https://github.com/sdias/win-10-virtual-desktop-enhancer/issues/91

It seems like shifting to Desktop 10 doesn't work no matter the key combination

[2018-07-30 14:54] whburling opened #123 "download does not include exe file"
running w10 pro Insider Preview Build 177723
on 30 jul 18 downloaded current win-10-virtual-desktop-enhancer
All I received is the *.ahk file.
NO exe

am i doing something wrong?  Please help.  I am new at this
Thank you,
bil

[2018-07-30 15:31] sdias commented on #123
Hi, can you please download the latest version from here? https://github.com/sdias/win-10-virtual-desktop-enhancer/releases/tag/0.11.2

Click on the "Windows.10.Virtual.Desktop.Enhancer.0.11.2.zip" link, not on the source code ones.

[2018-07-30 15:36] sdias commented on #122
It seems to be working fine on the latest stable build (1803 - 17834.165).
I can't support insider builds since the API that this app relies on would need to be updated if the Windows virtual desktops API changes, which it seems it has.
I'll update the documentation to reflect this.

[2018-07-30 16:04] sdias commented on #123
That's quite alright, I'm glad you got it sorted. :)

[2018-07-30 16:04] #123 closed

[2018-07-30 16:55] omarserenity opened #124 "Alt-Tab overrides Windows 10 setting"
Hello,

I have Windows 10 set to only show me windows from my current desktop when I click Alt-Tab. However, while Virtual Desktop Enhancer is running, clicking Alt-Tab shows me windows from all desktops. I cannot find a setting anywhere to fix this.

[2018-07-30 23:51] byzheng opened #125 "Different background when color inverted"
In my version of Windows 10 (Enterprise Version 1709 OS Build 16299.248), the color can be inverted. Is it possible to detect the inverted mode and set different background?

The same image is not suitable in both modes. For example,

Normal color:
![image](https://user-images.githubusercontent.com/1657381/43429529-38b82456-94a7-11e8-8582-1d66417f5466.png)

Inverted color:

![image](https://user-i

[2018-08-02 06:33] Anish491 opened #126 "[Bug] Doesn't switch back to original wallpaper after switching to different one"
Using latest version, using two virtual desktops.
When I start the computer, it opens on desktop one to wallpaper x, as it should, however, when i navigate to desktop two, the background switches to wallpaper y as it should, but does not return to wallpaper x when i navigate back to desktop one.

[2018-08-02 22:14] messyalex opened #127 "Tooltip design"
Hello,

first I'd like to thank you very much for the outstanding work you're doing.

The first area to improve that came to my mind is the Tooltip design.
It would be great to have the text aligned center at least. For me personally it would be perfect to have an option to make the tooltip spread whole width of the screen and use Segoe UI font that Windows 10 uses.
Here's what I mean: https://pho

[2018-08-03 10:29] possi commented on #110
Had the same Issue since Windows 10 1803. 0.11.2 solved it for me.

[2018-08-15 10:18] amorev opened #128 "Switch to specific windows with letter"
In Ubuntu I used CTRL+ALT+Q to switch to 5 desktop. I tried to set in settings letter Q for 5 desktop - didin't work.

How can I reach this?

Thanks!

[2018-08-18 20:11] charmesal commented on #106
This still doesn't work on build 17713
Updates to latest release and moving a window to another desktop is impossible

[2018-08-19 15:00] alexut opened #129 "[feature request] fast switch with numbers in Desktop Manager"
When Desktop Manager is active, pressing 1 should move be two desktop 1, etc...  i think this should be native in windows app but it's not.

[2018-09-04 09:27] AkitakeKun opened #130 "Azerty keyboard numeric keys"
I am running an azerty (french) keyboard.
To us, numeric keys (above the first row of letters) send out these keys by default:
& é " ' ( - è _ ç à

Problem is, trying to use these in the settings.ini causes issues (probably because of the quote and double quotes), I therefore tried to use the Keycode of each key:
SC002 for &, SC003 for é, etc..

But that doesn't work properly either, as the first

[2018-09-09 15:49] Fanatic17 opened #131 "1809 update broke "move window to next desktop""
Hi everyone and thank you for this awesome script, I just updated to Windows 10 1809 build 17755.1 and i found that the Ctrl + Win + Shift + arrow doesn't move anymore the selected window in the next/ previous desktop. Other features like changing desktop by scrolling on the task bar still work.

Anyone has any idea on how to fix this?

[2018-09-15 16:48] phpcitizen commented on #106
I'm on 1809 - 17758.1

Tray icon does not change when desktop change. But the shortcut keys seem to work.

[2018-09-17 18:10] phpcitizen commented on #106
Patch for icon change problem for latest insider 17758.1

https://github.com/sdias/win-10-virtual-desktop-enhancer/compare/master...phpcitizen:patch-1

[2018-09-19 15:45] phpcitizen commented on #131
+1

[2018-09-24 13:27] TimHendriksen commented on #131
+1

[2018-09-26 05:46] bakertony commented on #131
Just updated to insider (just to get dark theme in File Explorer) and dismayed to see that moving windows to other virtual desktops is broke :-(

[2018-09-27 21:26] 77cc33 opened #132 "Windows not activated/out of focus after desktop switch"
Right now I have this combo

[code]
If I hit Win + Ctrl+ F1 - it will move window and switch to Desktop1, but it will loose focus for moved window. So if I will hit immediately Win + Ctrl+ F2, it will not move this windows back to Desktop2, as it out of focus.

[2018-09-28 00:50] 77cc33 commented on #132
Sees it's the same issue, when just switching to another desktop. For some reason, it's trying to focus on the wrong windows, what is minimized.

[2018-09-30 15:33] journey-of-code commented on #132
I have the problem too. When I switch desktops, the focus stays with the last used application which even receives keystrokes when being on another desktop. This becomes even more annoying when you have a hidden taskbar because the taskbar will then come up and show the application where we came from highligted as can be seen here:
![grafik](https://user-images.githubusercontent.com/1939047/462591

[2018-10-03 00:41] kareltdlg opened #133 "Windows 1809: doesn't change the icon for each desktop"
After updating to Windows 10 1809 (October update), the taskbar icon doesn't match with the desktop number. Always shows the icon with number 1 no matter what desktop you go.

[2018-10-04 15:38] kalj commented on #132
I am experiencing this issue as well, with the latest version (0.11.2).

[2018-10-04 15:51] 77cc33 commented on #132
as timely solution I moved to https://github.com/mzomparelli/zVirtualDesktop/

it has the same functionality, but this feature works fine.

[2018-10-04 20:03] hhu94 commented on #131
Similarly, moving a window to a specific desktop doesn't work anymore either.

[2018-10-05 15:51] JohnTKelly commented on #133
I am seeing the same. Additionally, my desktop name tooltips are only showing on the first time I launch the exe. After that, changing desktops no longer pops up the desktop name tooltips.

[2018-10-07 09:37] ThanosAndr commented on #133
I fixed the issue by replacing the virtual-desktop-accessor.dll in the /libraries directory of the latest release by the newest version of the .dll released by [Ciantic](https://github.com/Ciantic/VirtualDesktopAccessor) and renaming it properly.

You can download the .dll file from Ciantic's GitHub profile [Here](https://github.com/Ciantic/VirtualDesktopAccessor/blob/master/x64/Release/VirtualDes

[2018-10-07 17:48] kareltdlg commented on #133
It works perfectly! Thank you so much.

[2018-10-07 17:59] kareltdlg commented on #131
https://github.com/sdias/win-10-virtual-desktop-enhancer/issues/133#issuecomment-427639308 fixes this issue. It works for me.

[2018-10-07 19:13] JohnTKelly commented on #133
Confirmed. It is working again for me.

Thanks!

From: kareltdlg <notifications@github.com>
Sent: Sunday, October 7, 2018 10:49 AM
To: sdias/win-10-virtual-desktop-enhancer <win-10-virtual-desktop-enhancer@noreply.github.com>
Cc: John T. Kelly <johntkelly@live.com>; Comment <comment@noreply.github.com>
Subject: Re: [sdias/win-10-virtual-desktop-enhancer] Windows 1809: doesn't change the icon for e

[2018-10-08 16:41] bitbucket000 commented on #133
Beautiful!  You can't believe how much of a relief it is to know what desktop I'm on from a glance.
Thanks so much.

[2018-10-11 14:31] sdias commented on #133
Sorry for not replying earlier. I haven't updated my Windows yet, that's why I haven't released a new version of this to fix it since I can't test it personally. When I do update, I'll release a new version.

[2018-10-11 14:31] sdias commented on #131
Sorry for not replying earlier. I haven't updated my Windows yet, that's why I haven't released a new version of this to fix it since I can't test it personally. When I do update, I'll release a new version.

[2018-10-16 14:12] Fanatic17 commented on #131
@sdias thank you for this awesome script, I can confirm that using the referenced library the issue is fixed. I can close this issue.

[2018-10-16 14:12] #131 closed

[2018-10-27 14:17] OmegaRogue opened #137 "[Feature Request] Pin Programs to Desktops"
It would be nice to be able to pin programs to specific desktops and when they are started always move them to that desktop

[2018-11-15 04:14] rajlego opened #138 "Could PgDn and PgUp be directly mapped to switching desktops?"
Would it be possible to remap the PgDn and PgUp keys to directly switch desktops? I don't really use them much normally and where they are positioned on my laptop it would be convenient to use them to switch desktops instead. I know that it is possible to switch to alt + pgdn/pgup but it would be better to be able to switch with just one key.

[2018-11-16 15:39] puco commented on #127
Also supporting transparency in the `BackgroundColor` would be appreciated (rgba hex format)

[2018-11-16 16:12] puco commented on #127
After a bit of digging I saw that the fact that the text is not aligned might happen on HiDPI screens. When creating the tooltip with `-DPIScale` it aligns it correctly. (see `libraries/tooltip.ahk`)

[code]

[2018-11-29 16:16] hudcap commented on #137
Also, to have specific programs that automatically get pinned to all desktops.
E.g., I like to have my Gmail "app" available on all desktops.

Not sure if this should be its own feature request, but I think it falls under the same category as this one.

[2018-11-30 03:00] tdy commented on #91
I'm getting this issue on a Win 10 Pro laptop (1803-17134.441). It happens regardless of ahk/exe and regardless of alt/win.

A few follow-ups:
1. Does "unconfirmed" mean that mod-0 works for most people or that not enough people use a 10th desktop to provide confirmation?
2. Should we report this upstream to ciantic or is it most likely unrelated to the dll?
3. Is there any debugging info that cou

[2018-12-04 11:14] NN--- commented on #120
I really would like to have all in one application.
There is another which has this feature  https://neosmart.net/EasySwitch/

[2018-12-07 22:06] fgajtanovski opened #139 "[Feature Request] Desktop Application Startup Configuration"
As a user, I would like to have the ability to organize my apps into separate desktop and save the configuration for a later use - ex: on windows start...

Use case: I start my computer and all apps are started on the desktop that they were originally configured.

[2018-12-13 15:27] sonicdivx opened #140 "Feature Request"
First off, really nice work, love it.  I noticed that the desktop switching uses jump to number function.  Would like to use the default slide behavior instead. Yes I know its just a pretty thing, but like it.

I am looking at the script and going to take a crack at adding as a config option to do smooth desktop switching.

thanks

[2018-12-14 00:42] eggind opened #141 "Switching to desktop with RDP loses focus"
I have a bunch of RDP sessions, one per virtual desktop. If I use Virtual Desktop Enhancer keystrokes to switch to a virtual desktop with an RDP session, then the keystrokes stop working altogether, as the keystrokes now are forwarded to the RDP session, not the host machine. So, I use Ctrl+Win+Right-arrow, and get the first RDP session. Now Ctrl+Win+Right and Ctrl+Win+Left no longer work to switc

[2018-12-20 15:45] zoeesilcock commented on #132
I just updated to Windows 10 1809 and the focus issue started happening. I tried updating to the latest version (0.11.2 at this time) but it didn't help, I guess Microsoft has changed something. I'm pretty sure the "app highlight" described [above](https://github.com/sdias/win-10-virtual-desktop-enhancer/issues/132#issuecomment-425729242) was happening for me before I updated Windows so they are p

[2018-12-22 10:35] OmegaRogue commented on #137
@hudcap this is already a Windows feature